---
// Component Imports
import MainHeader from "../../components/MainHead.astro";
import Header from "../../layouts/Header.astro";
import CardContent from "../../layouts/CardContent.astro";
import Footer from "../../layouts/Footer.astro";

import Tournaments from "../../content/cards/Tournaments.astro";

const title = `Tourniere`;
const description = ``;
const keywords = ["Tourniere", "Isle of LAN", "Sulgen"];
const type = "website";
const canonicalURL = Astro.href;
---

<html lang="de">
  <head>
    <MainHeader {title} {description} keywords={keywords.join(", ")} image="" {type} {canonicalURL}
    />
  </head>
  <body>
    <Header />
    <CardContent>
      <Tournaments />
    </CardContent>
    <Footer />
  </body>
</html>
