// colors
// $blue-dark: rgb(21, 101, 192);
// $blue-regular: rgb(66, 165, 245);
// $blue-light: rgb(187, 222, 251);

$blue-dark: #4a248c;
$blue-regular: rgb(175, 26, 172);
$blue-light: rgb(187, 222, 251);

$yellow-dark: rgb(255, 127, 64);
$yellow-regular: rgb(255, 43, 130);

$font-dark-color: rgb(21, 21, 21);
$font-light-color: rgb(255, 255, 255);

// Font weight
$font-bold: 700;
$font-regular: 300;
