// colors
$blue-dark: rgb(21, 101, 192);
$blue-regular: rgb(66, 165, 245);
$blue-light: rgb(187, 222, 251);

$yellow-dark: rgb(251, 192, 45);
$yellow-regular: rgb(253, 216, 53);

$font-dark-color: rgb(21, 21, 21);
$font-light-color: rgb(255, 255, 255);

// Font weight
$font-bold: 700;
$font-regular: 300;
