---
import { Markdown } from "astro/components";
import Card from "../../components/Card.astro";
---

<Markdown>
  # Über uns

  <Card>
  ### Der Verein

  Isle of LAN ist ein 2017 gegründeter Verein mit Sitz in St. Gallen, welcher gemäss seinen Statuten folgenden Zweck innehält:
  - die Veranstaltung und Durchführung von kulturellen Anlässen, insbesondere E-Sport Events, sonstige Veranstaltungen und Workshops.
  - die Pflege von gemeinschaftlichen Aktivitäten unter den Vereinsmitgliedern (Workshops, Teilnahme an Veranstaltungen, Vereinsausflüge, usw.).
  - die öffentliche Bereitstellung von Dienstleistungen, Daten und Gerätschaften auf Basis der Informationstechnologie.
  - die Förderung der gesellschaftlichen Akzeptanz von E-Sport und weiteren IT-Themen, sowie der Informationsfreiheit.

  Unsere Haupttätigkeit verstehen wir darin, jährlich eine LAN-Party zu planen und durchzuführen.

  </Card>

  <Card>
    ### Wer ist Isle of LAN?

    Unser Verein zählt momentan 4 Mitglieder:

    - Stephan "stui" B. - Präsident
    - Fabian "Cringy" H. - Aktuar
    - Luma "northwindgirl" B. - Materialwartin
    - Jan "YourBrainEatsYou" Z. - Beisitzer
  </Card>

  <Card>
    ### Du möchtest mitmachen?

    <p>Aktivmitglieder unseres Vereins sind Personen, welche ein grosses Interesse an LAN-Parties, Gaming, Eventorganisation und allem drum und dran haben.</p>
    <br>
    <p>Unsere Aktivmitglieder sind die Personen, welche jeweils aktiv die Isle of LAN auf die Beine stellen - durch die Planung, Auf-/Abbau und viel Herzblut.</p>
    <br>
    <p>Kannst du dir vorstellen, deine Ideen und dein Know-How in unser Team einfliessen zu lassen und mit uns etwas tolles auf die Beine zu stellen? Dann schau dir doch mal unsere Statuten an und fülle das Formular unten aus! Wir freuen uns auf dich und werden uns bei dir melden!
    <br><br>
    <p>
    <a href="/informations"
       title="zu unseren Statuten"
       class="button"
    >Statuten</a>
    <a href="/informations"
       title="jetzt Mitglied werden"
       class="button"
    >Mitglied werden</a>
    </p>
  </Card>

  <Card>
    ### Was suchen wir?

    Du bist in einem Gebiet stark oder möchtest darin aufblühen?<br>
    Wir freuen uns insbesondere - aber nicht ausschliesslich - über Mitglieder mit Know-How in folgenden Bereichen:

    - Eventplanung
    - Küche
    - Informatik / Netzwerkplanung
    - Softwareentwicklung (Web)
    - Elektriker
    - Turnier Organisation
    - Marketing
    - Helfende Hände bei Auf-/Abbau / Runner
    - Verkauf (Kiosk)
    - Küche / Service
    - Event Support (Infopoint, Check-In)
  </Card>

</Markdown>

<style lang="scss">
  @import "../../style/elements/markdown";
</style>
