---
import { Markdown, Layout } from "astro/components";
import Card from "../../components/Card.astro";
---

<Markdown>
  # Frequently Asked Questions

  <Card>
  ### IOL – was ist das?

  IOL steht für “Isle of LAN”. Dies ist der Name der Veranstaltung,
  welche der gleichnamige Verein organisiert und durchführt.
  Isle of LAN ist eine jährlich stattfindende LAN-Party, welche sich zum
  Ziel gesetzt hat, den E-Sport in der Region Ostschweiz bekannter zu
  machen und die gesellschaftliche Akzeptanz zu fördern.
  </Card>

  <Card>
  ### Was ist eine LAN-Party?

  Bei einer LAN-Party sitzen gleichgesinnte Personen zusammen in einem Raum und
  spielen auf Ihren Computern Games. Der Sinn hierbei liegt darin, dass man sich
  untereinander austauschen kann. Sei dies mit den Gegnern oder mit dem eigenen
  Team. LAN-Parties waren anfangs der 2000er sehr beliebt und feiern nun -
  endlich - ein Revival. Komm vorbei und du wirst merken, was LAN-Parties so
  einzigartig macht!
  </Card>

  <Card>
  ### Wie kann ich teilnehmen?

  Du bist dabei, wenn du dir ein [Ticket](/ticket)
  kaufst und den Ticketpreis bezahlt hast!
  </Card>

  ## Helfer

  <Card>
  ### Kann ich helfen?

  Ja, fülle hierzu [dieses Formular](https://forms.gle/vWotY7JVh4YEeq7h7) aus.
  </Card>

  <Card>
  ### Wie lange muss ich arbeiten?

  Das können wir dir leider noch nicht genau sagen.
  Aber wir können dir sagen, dass in Schichten, welche nicht all zu lange
  dauern, gearbeitet wird. Wenn du nicht arbeitest, kannst du gerne zocken!
  </Card>

  <Card>
  ### Was bekomme ich dafür?

  Du kriegst ein Staff-Shirt, ein Isle of LAN Ticket und Verpflegung
  während deinen Schichten.
  </Card>

  ## Teilnahme

  <Card>
  ### Gibt es ein Mindestalter, um an der Isle of LAN teilzunehmen?

  Das Mindestalter, um an der Isle of LAN teilzunehmen beträgt 16 Jahre.
  Wenn du unter 18 Jahre alt bist, musst du ein Formular mitbringen,
  welches deine Eltern unterschreiben müssen.
  </Card>

  <Card>
  ### Was ist mit Corona?

  Schau dir hierzu bitte die Seite [Corona Informationen](/corona) an.
  </Card>

  <Card>
  ### Was muss ich mitnehmen?

  Wichtig: Um Einlass zu erhalten, benötigen wir von dir dein Ticket (entweder ausgedruckt oder auf dem Handy), ein Ausweisdokument und dein [COVID-Zertifikat](/corona).

  Ansonsten musst du alles mitbringen, was du zum spielen brauchst!
  Deinen Computer, Bildschrim, Maus, Tastatur und Headset.
  Ein Netzwerkkabel und Strom ist an deinem Platz vorverlegt,
  um das musst du dich nicht kümmern. Bringe zusätzlich einen
  Schlafsack und eine Unterlage zum Schlafen mit.
  </Card>

  <Card>
  ### Was darf ich nicht mitnehmen?

  Lass bitte alles zu Hause, was viel Strom verbraucht.
  Zum Beispiel Klimaanlagen, Toaster, Kühlschränke aber auch USVs.

  Ebenfalls bitten wir dich, keine Lautsprecher mitzunehmen.

  Wenn du dir nicht sicher bist, ob du etwas mitnehmen solltest,
  schreibe uns kurz an.
  </Card>

  <Card>
  ### Muss ich etwas zu Essen mitnehmen, oder kann ich mich vor Ort verpflegen?

  Wir bieten dir gutes aber günstiges Essen an, welches du jedoch bereits im
  Voraus bestellen musst. Sich in Sulgen zu verpflegen,
  sollte dich allerdings auch nicht vor eine all zu grosse Hürde stellen.
  In Sulgen gibt es mehrere Bäckereien, Dönerläden, Pizzerien, Migros und Coop.
  Falls du einen Tipp brauchst, sprich uns an!
  </Card>

  <Card>
  ### Kann man dort schlafen?

  Ja, es gibt abgetrennte Schlafhallen.
  Bringe bitte deinen eigenen Schlafsack und Unterlage mit.
  </Card>

  <Card>
  ### Welche Spiele kann ich an der Isle of LAN spielen?

  Grundsätzlich kannst du spielen, was du möchtest.
  Du kannst problemlos 3 Tage Solitär spielen. Cooler ist es
  allerdings, wenn du mit den Personen, mit welchen du gerade im
  selben Raum sitzt, das gleiche Spiel spielst.

  Wir stellen mehrere Gameserver zur Verfügung, es wäre cool, wenn du
  diese verwendest.

  Wenn du aber trotzdem nicht weisst, was oder mit wem du spielen sollst,
  klick doch mal in unser [Discord](https://www.isleoflan.ch/discord) und du findest bestimmt
  jemanden, mit dem du spielen kannst.
  </Card>

  ## Clans / Teams

  <Card>
  ### Kann ich ein Werbebanner meines Teams aufstellen?

  Ja gerne, aber schreib uns bitte zuerst an, damit wir das Organisatorische klären können!
  </Card>

  <Card>
  ### Dürfen wir unsere Team-Shirts tragen?

  Selbstverständlich und gerne!
  </Card>

  ## Infrastruktur

  <Card>
  ### Ist Internet vorhanden?

  Ja, es ist Internet vorhanden. Wir können dir dank unserem [Sponsor](/informations/sponsors/) init7 eine Leitung mit 400/100Mbps bieten. Wir wissen, dass dies nicht
  extrem schnell ist. Wir stellen aber Caching-Server für alle grossen
  Games zur Verfügung, damit die Leitung nicht mit Updates blockiert wird.
  Ebenfalls wird sämtlicher Game-Traffic priorisiert, dass es zu keinen Lags
  kommt.

  Falls es Probleme gibt, sind wir sofort zur Stelle!
  </Card>

  <Card>
  ### Kann ich auch mal unter die Dusche hüpfen?

  Duschen sind vorhanden. Du kannst diese jederzeit nutzen.
  </Card>

  <Card>
  ### Muss ich mein eigenes LAN-Kabel mitnehmen?

  Nein. Es ist ein LAN-Kabel für deinen Platz vorverlegt.
  Ebenfalls ist eine Steckerleiste mit 3 Strom-Anschlüssen vorverlegt.
  Bitte beachte, dass das Netzwerk nicht ohne schriftliche Genehmigung
  unserer Seite erweitert werden darf. Das bedeutet, dass du keinen Switch,
  Access Point oder ein ähnliches Gerät anschliessend darfst.

  Ebenfalls bitten wir dich, nicht zu viele Stromverbraucher anzuschliessen.
  Grundsätzlich ist es vorgesehen, dass du deinen Computer und einen
  Bildschirm anschliesst.
  </Card>

  <Card>
  ### Darf ich einen Server mitbringen

  Sehr gerne. Schreib uns hierzu doch kurz vorher per [Discord](https://www.isleoflan.ch/discord) oder [E-Mail](mailto:support@isleoflan.ch) an, damit wir dir
  einen Platz im Server-Rack reservieren können.
  </Card>

  <Card>
  ### Wie laut dürfen meine Lautsprecher maximal sein?

  Wir bitten dich, deine Lautsprecher zu Hause zu lassen und dein
  Headset einzupacken. Lautsprecher sind an der Isle of LAN
  nicht erlaubt und falls du doch welche mitbringst, werden wir dich
  bitten, diese wieder abzubauen. Wir möchten, dass jeder nur das hört,
  was er möchte.
  </Card>

  ## Turniere

  <Card>
  ### Wie kann ich an einem Turnier teilnehmen?

  Auf der [Turnierseite](/informations/tournaments/) sind alle Turniere aufgelistet. Klicke auf "Anmelden" und fülle das Formular aus. Alles weitere wird dann während der LAN geklärt.
  Damit du an einem Turnier teilnehmen kannst, musst du dich
  zuvor zwingend anmelden. Die Anmeldung ist bis 3 Stunden
  vor dem Turnierstart möglich.
  </Card>

  ## Bargeldloses Bezahlen am Event

  <Card>
  ### Wie kaufe ich etwas am Kiosk?

  Wenn du etwas am Kiosk kaufst, bezahlst du nicht mit Bargeld oder
  Karte, sondern mit deinem Badge, den du an deinem Eintrittsarmband
  hast. Du hältst diesen zum bezahlen einfach an das Bezahlterminal.
  So wollen wir die Abläufe beschleunigen und Diebstähle verhindern.
  </Card>

  <Card>
  ### Kann ich am Kiosk mit Bargeld oder Karte bezahlen?

  Am Kiosk kannst du grundsätzlich nur mit deinem Badge bezahlen.
  Du kannst jedoch deinen Badge mit Bargeld oder Karte am Kiosk
  aufladen. Dies beschleunigt und erleichtert für alle den Bezahlprozess.

  Du kannst bald auch im Benutzerbereich der Webseite den Badge mit
  Kreditkarte oder PayPal aufladen.
  </Card>

  <Card>
  ### Wie funktioniert die Essensbestellung und -ausgabe?

  Wenn du von unserem günstigen Catering profitieren möchtest,
  musst du das Essen im Voraus bestellen. Dies musst du vor der Varanstaltung getan haben.

  Bestellen kannst du im Ticket-Bestellprozess oder auch danach noch über den Shop.

  Wenn das Essen bereit ist, wirst du benachrichtigt und du kannst
  das Essen abholen. Bestätige noch, dass du berechtigt bist,
  das Essen abzuholen, indem du dein Armband bei der Ausgabe scannst.
  </Card>

  <Card>
  ### Was geschieht, wenn ich am Ende des Events noch Geld auf dem Badge habe?

  Nach dem Event kannst du angeben, was mit dem Geld geschehen soll.
  Du kannst das Restguthaben entweder an eine IBAN überweisen lassen
  oder dem Verein als Spende überlassen.
  </Card>

  ## Hast du weitere Fragen?

  <Card>
  ### Benutze unser Support-Portal

  <a href="https://isleoflan.atlassian.net/servicedesk/customer/portal/1" title="Zum Support-Portal" class="button button--white" target="_blank">
  <span class="button__text">Zum Support-Portal</span>
  </a>

  </Card>
</Markdown>

<style lang="scss">
  @import "../../style/elements/markdown";
</style>
