---
import { Markdown } from "astro/components";
import Card from "../../components/Card.astro";

import eventDate from "@content/event-date.json";

const startDate = new Date(eventDate.start);
const endDate = new Date(eventDate.end);

const startDay = startDate.getDate();
const endDay = endDate.getDate();
const month = endDate.toLocaleString("default", { month: "long" });
const year = endDate.getFullYear();
---

<Markdown>
  # Infos zur Isle of LAN 2024

  <Card>

    ### IOL in Kürze

    - Türöffnung: 8. April 2022 - 17:00 Uhr
    - Ende: 10. April 2022 - 13:00 Uhr
    - Plätze: 80 Plätze
    - Location: <a href="https://www.google.com/maps/place/Auholzsaal%2FVerwaltung/@47.5350744,9.1832273,18z/data=!3m1!4b1!4m5!3m4!1s0x479ae55f25af3519:0x5f4fbf8a115e4f7d!8m2!3d47.5350726!4d9.1843216" title="auf Googlemaps anzeigen" target="_blank" rel="nofollow">Auholzsaal Sulgen</a>
    - Preis: 50 CHF
    - Mindestalter: 16 Jahre (Teilnehmer unter 18 Jahren müssen ein von den Eltern unterschriebenes Formular mitbringen. Dieses wird mit der Bestellbestätigung mitgeschickt, wenn es dich betrifft!)
    - Duschen vorhanden
    - Kostenlose Parkplätze vorhanden
    - Catering vorhanden / Alle Mahlzeiten einzeln zukaufbar oder Essenspass mit allen Mahlzeiten zum vergünstigten Preis

  </Card>

  <Card>

    ### Dein Platz an der IOL

    - Ein ganzer Tisch (170x70cm) für dich allein
    - Steckerleiste mit 3 Steckdosen vorverlegt
    - LAN-Kabel mit Gigabit-Anschluss vorverlegt
    - Switches mit 10Gbps Uplink
  </Card>
</Markdown>

<style lang="scss">
  @import "../../style/elements/markdown";
</style>
