---
import { Markdown } from "astro/components";
import Card from "@components/Card.astro";
---

<section class="tournaments">
  <Markdown>
    # Turniere

    <Card>
      ### Allgemein
      
      An der Isle of LAN wird es mehrere Turniere geben, an welchen du teilnehmen
      kannst. Schau dir untenstehend alle Turniere an und melde dich bzw. dein Team an.
    
      ### &nbsp;
      
      ### Preispool
      
      Ein grosszügiger Preispool wird von unserem [Sponsor](/informations/sponsors) be
      quiet! zur Verfügung gestellt. Vielen Dank!
    </Card>

    <Card>
      ### VALORANT
      <img src="https://cdn.isleoflan.ch/main/games/logos/valorant.svg" alt="" />

      - Modus: 3v3 Single Elim
      - Max. Anzahl Teams: 16
      - Startzeit: Freitag, 20:00 Uhr
      - Regeln: tbd

      <a
        href="https://forms.gle/nz5UGiYmr1avTRk76"
        title="Anmelden"
        class="button button--white"
        target="_blank"
      >
        <span class="button__text">Anmelden</span>
      </a>
    </Card>

    <Card>
      ### CS:GO Wingman
      <img src="https://cdn.isleoflan.ch/main/games/logos/csgo.svg" alt="" />

      - Modus: Wingman (2v2) Single Elim
      - Max. Anzahl Teams: 16
      - Startzeit: Freitag, 23:00 Uhr
      - Regeln: tbd

      <a
        href="https://forms.gle/AK6JyP4Ckpqc9k1z7"
        title="Anmelden"
        class="button button--white"
        target="_blank"
      >
        <span class="button__text">Anmelden</span>
      </a>
    </Card>

    <Card>
      ### Rocket League
      <img src="https://cdn.isleoflan.ch/main/games/logos/rocket-league.svg" alt="" />

      - Modus: 1v1
      - Max. Anzahl Teilnehmer: 16
      - Startzeit: Freitag, 21:00 Uhr
      - Regeln: tbd

      <a
        href="https://forms.gle/Xnfr2g6U3knQdXP28"
        title="Anmelden"
        class="button button--white"
        target="_blank"
      >
        <span class="button__text">Anmelden</span>
      </a>
    </Card>

    <Card>
      ### Super Smash Bros. Ultimate
      <img src="https://cdn.isleoflan.ch/main/games/logos/ssbu.svg" alt="" />

      - Modus: 1v1
      - Max. Anzahl Teilnehmer: 32
      - Startzeit: tbd
      - Regeln: tbd

      <a
        href="https://forms.gle/VWMn8WxGk1mPCfPV9"
        title="Anmelden"
        class="button button--white"
        target="_blank"
      >
        <span class="button__text">Anmelden</span>
      </a>
    </Card>
  </Markdown>
</section>

<style lang="scss">
  @use "../../style/abstracts" as *;
  @import "../../style/elements/markdown";

  .tournaments {
    :global(.card) {
      img {
        display: none;
        width: 200px;
        height: auto;

        @include for-tablet-portrait-up {
          float: right;
          display: block;
        }
      }
    }
  }
</style>
