@use "../abstracts" as *;

.container {
  position: relative;
  float: left;
  width: 100%;
  padding: 0 30px;
  @include for-tablet-portrait-up {
    padding: 0 60px;
  }

  @include for-big-desktop-up {
    padding: 0 120px;
  }

  &--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inner {
    width: 100%;
    @include for-tablet-landscape-up {
      width: 800px;
    }

    &--column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
