@use "../abstracts" as *;

html {
  font-size: 20px;
  line-height: 1.375;
}
body {
  font-family: "Changa", sans-serif;
  font-weight: $font-regular;
}

// Header Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-bold;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 0.25em;
}
h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 0.9rem;
}
p {
  margin: 0;
  &.small {
    font-size: 0.7rem;
  }

  + .button {
    margin-top: 30px;
  }
}
a {
  text-decoration: none;
  color: currentColor;
}
.agb__wrapper a,
.message a,
section p a,
section ul a {
  color: $blue-regular;

  @supports (-webkit-background-clip: text) {
    @include linear-gradient-blue();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include animate(all);

  &:hover {
    color: $yellow-regular;

    @supports (-webkit-background-clip: text) {
      @include linear-gradient-yellow();
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
