---
// Component Imports
import MainHeader from "../components/MainHead.astro";
import Header from "../layouts/Header.astro";
import NextEventHeader from "../layouts/NextEventHeader.astro";

import CardContent from "../layouts/CardContent.astro";

import Impressum from "../content/cards/Impressum.astro";
import Footer from "../layouts/Footer.astro";

const title = `Impressum`;
const description = ``;
const keywords = ["Impressum", "Isle of LAN", "Sulgen"];
const type = "website";
const canonicalURL = Astro.href;
---

<html lang="de">
  <head>
    <MainHeader {title} {description} keywords={keywords.join(", ")} image="" {type} {canonicalURL}
    />
  </head>
  <body>
    <Header />
    <CardContent>
      <Impressum />
    </CardContent>
    <Footer />
  </body>
</html>
