---
// Component Imports

import MainHeader from "@components/MainHead.astro";
import Header from "@layouts/Header.astro";
import NextEventHeader from "@layouts/NextEventHeader.astro";

import CardContent from "@layouts/CardContent.astro";

import Games from "@layouts/Games.astro";
import Footer from "@layouts/Footer.astro";

import QuickInformations from "@content/cards/QuickInformations.astro";

const title = `Isle Of LAN 2022`;
const description = `Isle of LAN ist eine jährlich stattfindende LAN-Party, welche sich zum Ziel gesetzt hat, den E-Sport in der Region Ostschweiz bekannter zu machen und die gesellschaftliche Akzeptanz zu fördern.`;
const keywords = ["Isle of LAN", "Sulgen"];
const type = "website";
const canonicalURL = Astro.href;
---

<html lang="de">
  <head>
    <MainHeader {title} {description} keywords={keywords.join(", ")} image="" {type} {canonicalURL} />
  </head>
  <body>
    <Header class="home" />
    <NextEventHeader />
    <CardContent>
      <QuickInformations />
    </CardContent>
    <Games />

    <Footer />
  </body>
</html>

<style lang="scss">
  body {
    padding-top: 0 !important;
  }
</style>
