---
// Component Imports
import MainHeader from '../components/MainHead.astro';
import Header from '../layouts/Header.astro';
import NextEventHeader from '../layouts/NextEventHeader.astro';
---
<html lang="de">
<head>
   <MainHeader/>
</head>
<body>
   <Header/>
   <NextEventHeader/>
</body>
</html>
