<h1>Jetzt Ticket sichern!</h1>
<p>
  Der Vorverkauf hat gestartet! Sichere dir jetzt eines der begrenzten Tickets für die zweite Isle
  of LAN!
</p>

<a
  href="https://shop.isleoflan.ch"
  title="Ja, ich will!"
  class="button button--white"
  target="_blank"
>
  <span class="progress">
    <span id="ticket-progress" class="progress-inner"></span>
  </span>
  <span class="button__text">Ja, ich will!</span>
</a>
<div id="counter">&nbsp;</div>

<script>
  const counter = document.querySelector("#counter");
  const progress = document.querySelector("#ticket-progress");

  // fetch ticket data
  fetch("https://api.shop.isleoflan.ch/v1/tickets/availability")
    .then((response) => {
      if (response.status >= 200 && response.status <= 299) {
        return response.json();
      } else {
        throw new Error(response);
      }
    })
    .then((response) => {
      const data = response.data;

      if (data.free === 0) {
        counter.innerText = `wir sind ausverkauft`;
        progress.style.width = `${((data.total - data.free) * 100) / data.total + 50}%`;
      } else if (data.free === 1) {
        counter.innerText = `noch ${data.free} Ticket`;
        progress.style.width = `${((data.total - data.free) * 100) / data.total + 25}%`;
      } else {
        counter.innerText = `noch ${data.free} Tickets`;
        progress.style.width = `${((data.total - data.free) * 100) / data.total + 25}%`;
      }
      counter.style.opacity = 1;
    })
    .catch((error) => {});
</script>

<style lang="scss">
  @use "../../style/abstracts" as *;
  .button {
    position: relative;
  }
  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    &-inner {
      @include linear-gradient-yellow();
      @include skew-horizontal();
      position: absolute;
      height: 100%;
      left: -25%;
      top: 0;
      width: 0;

      transition: width 0.5s ease-in-out;
    }
  }
  #counter {
    display: block;
    margin-top: 0.2rem;
    font-weight: $font-bold;
    font-size: 0.7rem;
    opacity: 0;

    transition: opacity 0.15s ease-in-out 0.35s;
  }
</style>
