<h1>Tickets bald verfügbar!</h1>
<p>
  Der Vorverkauf der Tickets startet bald. Komm später nochmals vorbei!
</p>

  <a
    href="/informations"
    title="weitere Informationen"
    class="button button--white"
  >
  <span class="progress">
    <span id="ticket-progress" class="progress-inner"></span>
  </span>
    <span class="button__text">weitere Informationen</span>
  </a>
<div id="counter">&nbsp;</div>


<style lang="scss">
  @use "../../style/abstracts" as *;
  .button {
    position: relative;
  }
  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    &-inner {
      @include linear-gradient-yellow();
      @include skew-horizontal();
      position: absolute;
      height: 100%;
      left: -25%;
      top: 0;
      width: 0;

      transition: width 0.5s ease-in-out;
    }
  }
  #counter {
    display: block;
    margin-top: 0.2rem;
    font-weight: $font-bold;
    font-size: 0.7rem;
    opacity: 0;

    transition: opacity 0.15s ease-in-out 0.35s;
  }
</style>
