---
---

<h1>Jetzt Ticket sichern!</h1>
<p>
  Der Vorverkauf hat gestartet! Sichere dir jetzt eines der begrenzten Tickets für die erste Isle of
  LAN!
</p>

<a
  href="https://shop.isleoflan.ch"
  title="Ja, ich will!"
  class="button button--white"
  target="_blank"
>
  <span class="button__text">Ja, ich will!</span>
</a>
