---
  import Card from "../components/Card.astro";
  //const data = await fetch("https://api.shop.isleoflan.ch/v1/public/attendees").then(r => r.json()).then(r => r.data);
  
  const data = await fetch("https://api.shop.isleoflan.ch/v1/public/attendees")
    .then((response) => {
      if (response.status >= 200 && response.status <= 299) {
        return response.json();
      } else {
        throw new Error(response);
      }
    }).then(response => response.data);
---

<section class="attendees container container--flex">
  <h1>Teilnehmer</h1>

  <div class="attendees__list" id="at-list">
  {data.map((attendee) => 
  <Card>
    <div class="image"><img class="attendee__avatar" src={attendee.avatar} /></div>
    <div class="attendee__status" data-status={attendee.status}>&nbsp;</div>
    <span class="attendee__name">
    {(attendee.squad ? '<span class="attendee__squad">[' + attendee.squad.short + '] </span>' : (''))}
    {attendee.username}
    </span>
  </Card>
  )}
  </div>
</section>

<style lang="scss">
  @use "../style/abstracts" as *;
  :global(.container__inner) {
    width: 100%;
  }
  .attendees{

    .attendees__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      :global(.card) {
        flex: 0 0 calc(100% * (1/3) - 3%);
        margin: 1.5%;
        text-align: center;
      }

    }
  }

  .attendee__avatar {
    width: 30%;
    height: 30%;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.26);
    margin-bottom: 40px;
  }

  .attendee__name {
    font-size: 1.3rem;
    
    :global(.attendee__squad) {
      font-weight: 700;
    }
  }

  .attendee__status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    position: relative;
    top: 7px;

    &[data-status="BOUGHT"] {
      background: $yellow-dark;
    }
    &[data-status="PAYED"] {
      background: $yellow-regular;
    }
    &[data-status="CHECKIN"] {
      background: $blue-regular;
    }
  }


</style>