---
import Navigation from "@layouts/Navigation.astro";
import ResponsiveNavigation from "@layouts/ResponsiveNavigation.astro";
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/" title="Isle of LAN">
        <img src="/images/iol_white.svg" alt="Isle of LAN" />
      </a>
    </div>
    <Navigation />
    <div class="toggle" id="responsive-navigation-toggle">
      <span class="toggle-icon"></span>
    </div>
  </div>
</header>
<ResponsiveNavigation />

<script>
  document.getElementById("responsive-navigation-toggle").addEventListener("click", function () {
    this.classList.toggle("active");
    document.getElementsByTagName("body")[0].classList.toggle("nav-active");
  });
</script>

<style lang="scss">
  @use "../style/abstracts" as *;

  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 0;
    z-index: 100;

    @include linear-gradient-blue();
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    width: 102px;
    @include for-desktop-up {
      width: 176px;
    }
  }

  .toggle {
    @include for-tablet-landscape-up {
      display: none;
    }
    width: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .toggle-icon {
    display: block;
    position: relative;
    height: 2px;
    width: 24px;
    background-color: white;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: white;
      left: 0;
    }

    &::before {
      top: -7px;
    }
    &::after {
      bottom: -7px;
    }
  }
  .home {
    .header {
      background-color: transparent;
      background-image: none;
      @include for-desktop-up {
        padding: 44px 0;
      }
      @include animate(all);

      &.scrolled {
        @include linear-gradient-blue();
        padding: 20px 0;
      }
    }
  }
</style>
