---
---

<section class="seatplan container container--flex">
  <h1>Hallenplan</h1>

  <div class="seatplan__claninfo">
    <div class="seatplan__claninfo--text">
      <h3>Möchtest du mit deinem Clan kommen?</h3>
      <p>
        Eröffne ein Support-Ticket mit dem Typ "Clan Reservation" <a
          href="https://isleoflan.atlassian.net/servicedesk/customer/portal/1"
          title="Support-Portal"
          target="_blank"
          rel="noopener">auf unserem Support-Portal</a
        > und wir reservieren für einen limitierten Zeitraum einen von euch gewünschten Block an Plätzen,
        welche dann nur von euren Mitgliedern ausgewählt werden können.
      </p>
      <!--
      <p class="text--small">
        Vorerst sind voraussichtlich bis zum 16. Februar 2022 exklusiv Clan-Reservationen möglich.
      </p>
      -->
    </div>
  </div>

  <div class="seatplan__svg">
    <svg
      version="1.1"
      id="Ebene_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 1920 960"
      style="enable-background:new 0 0 1920 960;"
      xml:space="preserve"
    >
      <style>
        .st0 {
          fill: none;
          stroke: #ffffff;
        }
        .st1 {
          fill: #c4c4c4;
        }
        .st2 {
          fill: #ffffff;
        }
        .st3 {
          fill: #4a248c;
        }
      </style>
      <g id="seats">
        <line class="st0" x1="1500.4" y1="449.2" x2="1920" y2="449.2"></line>
        <circle class="st1" cx="216" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M216,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C198,134.1,206.1,126,216,126 M216,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S229.3,120,216,120z"></path>
        <circle class="st1" cx="216" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M216,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C198,230.1,206.1,222,216,222 M216,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S229.3,216,216,216z"></path>
        <circle class="st1" cx="216" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M216,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C198,326.1,206.1,318,216,318 M216,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S229.3,312,216,312z"></path>
        <circle class="st1" cx="360" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M360,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C342,134.1,350.1,126,360,126 M360,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S373.3,120,360,120z"></path>
        <circle class="st1" cx="360" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M360,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C342,230.1,350.1,222,360,222 M360,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S373.3,216,360,216z"></path>
        <circle class="st1" cx="360" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M360,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C342,326.1,350.1,318,360,318 M360,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S373.3,312,360,312z"></path>
        <circle class="st1" cx="456" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M456,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C438,134.1,446.1,126,456,126 M456,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S469.3,120,456,120z"></path>
        <circle class="st1" cx="456" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M456,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C438,230.1,446.1,222,456,222 M456,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S469.3,216,456,216z"></path>
        <circle class="st1" cx="456" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M456,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C438,326.1,446.1,318,456,318 M456,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S469.3,312,456,312z"></path>
        <circle class="st1" cx="600" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M600,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C582,134.1,590.1,126,600,126 M600,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S613.3,120,600,120z"></path>
        <circle class="st1" cx="600" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M600,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C582,230.1,590.1,222,600,222 M600,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S613.3,216,600,216z"></path>
        <circle class="st1" cx="600" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M600,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C582,326.1,590.1,318,600,318 M600,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S613.3,312,600,312z"></path>
        <circle class="st1" cx="696" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M696,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C678,134.1,686.1,126,696,126 M696,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S709.3,120,696,120z"></path>
        <circle class="st1" cx="696" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M696,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C678,230.1,686.1,222,696,222 M696,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S709.3,216,696,216z"></path>
        <circle class="st1" cx="696" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M696,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C678,326.1,686.1,318,696,318 M696,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S709.3,312,696,312z"></path>
        <circle class="st1" cx="840" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M840,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C822,134.1,830.1,126,840,126 M840,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S853.3,120,840,120z"></path>
        <circle class="st1" cx="840" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M840,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C822,230.1,830.1,222,840,222 M840,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S853.3,216,840,216z"></path>
        <circle class="st1" cx="840" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M840,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C822,326.1,830.1,318,840,318 M840,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S853.3,312,840,312z"></path>
        <circle class="st1" cx="936" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M936,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C918,134.1,926.1,126,936,126 M936,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S949.3,120,936,120z"></path>
        <circle class="st1" cx="936" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M936,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C918,230.1,926.1,222,936,222 M936,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S949.3,216,936,216z"></path>
        <circle class="st1" cx="936" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M936,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C918,326.1,926.1,318,936,318 M936,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S949.3,312,936,312z"></path>
        <circle class="st1" cx="1080" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M1080,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1062,134.1,1070.1,126,1080,126 M1080,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1093.3,120,1080,120z"></path>
        <circle class="st1" cx="1080" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M1080,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1062,230.1,1070.1,222,1080,222 M1080,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1093.3,216,1080,216z"></path>
        <circle class="st1" cx="1080" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M1080,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1062,326.1,1070.1,318,1080,318 M1080,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1093.3,312,1080,312z"></path>
        <circle class="st1" cx="1176" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M1176,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1158,134.1,1166.1,126,1176,126 M1176,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1189.3,120,1176,120z"></path>
        <circle class="st1" cx="1176" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M1176,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1158,230.1,1166.1,222,1176,222 M1176,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1189.3,216,1176,216z"></path>
        <circle class="st1" cx="1176" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M1176,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1158,326.1,1166.1,318,1176,318 M1176,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1189.3,312,1176,312z"></path>
        <circle class="st1" cx="1320" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M1320,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1302,134.1,1310.1,126,1320,126 M1320,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1333.3,120,1320,120z"></path>
        <circle class="st1" cx="1320" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M1320,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1302,230.1,1310.1,222,1320,222 M1320,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1333.3,216,1320,216z"></path>
        <circle class="st1" cx="1320" cy="336" r="21"></circle>
        <path
          class="st2"
          d="M1320,318c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1302,326.1,1310.1,318,1320,318 M1320,312
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1333.3,312,1320,312z"></path>
        <circle class="st1" cx="1416" cy="48" r="21"></circle>
        <path
          class="st2"
          d="M1416,30c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1398,38.1,1406.1,30,1416,30 M1416,24
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1429.3,24,1416,24z"></path>
        <circle class="st1" cx="1416" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M1416,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1398,134.1,1406.1,126,1416,126 M1416,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1429.3,120,1416,120z"></path>
        <circle class="st1" cx="1416" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M1416,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1398,230.1,1406.1,222,1416,222 M1416,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1429.3,216,1416,216z"></path>
        <circle class="st1" cx="1560" cy="48" r="21"></circle>
        <path
          class="st2"
          d="M1560,30c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1542,38.1,1550.1,30,1560,30 M1560,24
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1573.3,24,1560,24z"></path>
        <circle class="st1" cx="1560" cy="144" r="21"></circle>
        <path
          class="st2"
          d="M1560,126c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1542,134.1,1550.1,126,1560,126 M1560,120
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1573.3,120,1560,120z"></path>
        <circle class="st1" cx="1560" cy="240" r="21"></circle>
        <path
          class="st2"
          d="M1560,222c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1542,230.1,1550.1,222,1560,222 M1560,216
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1573.3,216,1560,216z"></path>
        <circle class="st1" cx="216" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M216,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C198,470.1,206.1,462,216,462 M216,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S229.3,456,216,456z"></path>
        <circle class="st1" cx="216" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M216,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C198,566.1,206.1,558,216,558 M216,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S229.3,552,216,552z"></path>
        <circle class="st1" cx="216" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M216,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C198,662.1,206.1,654,216,654 M216,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S229.3,648,216,648z"></path>
        <circle class="st1" cx="360" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M360,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C342,470.1,350.1,462,360,462 M360,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S373.3,456,360,456z"></path>
        <circle class="st1" cx="360" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M360,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C342,566.1,350.1,558,360,558 M360,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S373.3,552,360,552z"></path>
        <circle class="st1" cx="360" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M360,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C342,662.1,350.1,654,360,654 M360,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S373.3,648,360,648z"></path>
        <circle class="st1" cx="216" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M216,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C198,758.1,206.1,750,216,750 M216,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S229.3,744,216,744z"></path>
        <circle class="st1" cx="360" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M360,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C342,758.1,350.1,750,360,750 M360,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S373.3,744,360,744z"></path>
        <circle class="st1" cx="456" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M456,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C438,470.1,446.1,462,456,462 M456,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S469.3,456,456,456z"></path>
        <circle class="st1" cx="456" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M456,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C438,566.1,446.1,558,456,558 M456,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S469.3,552,456,552z"></path>
        <circle class="st1" cx="456" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M456,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C438,662.1,446.1,654,456,654 M456,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S469.3,648,456,648z"></path>
        <circle class="st1" cx="600" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M600,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C582,470.1,590.1,462,600,462 M600,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S613.3,456,600,456z"></path>
        <circle class="st1" cx="600" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M600,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C582,566.1,590.1,558,600,558 M600,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S613.3,552,600,552z"></path>
        <circle class="st1" cx="600" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M600,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C582,662.1,590.1,654,600,654 M600,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S613.3,648,600,648z"></path>
        <circle class="st1" cx="456" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M456,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C438,758.1,446.1,750,456,750 M456,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S469.3,744,456,744z"></path>
        <circle class="st1" cx="600" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M600,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C582,758.1,590.1,750,600,750 M600,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S613.3,744,600,744z"></path>
        <circle class="st1" cx="696" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M696,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C678,470.1,686.1,462,696,462 M696,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S709.3,456,696,456z"></path>
        <circle class="st1" cx="696" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M696,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C678,566.1,686.1,558,696,558 M696,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S709.3,552,696,552z"></path>
        <circle class="st1" cx="696" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M696,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C678,662.1,686.1,654,696,654 M696,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S709.3,648,696,648z"></path>
        <circle class="st1" cx="840" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M840,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C822,470.1,830.1,462,840,462 M840,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S853.3,456,840,456z"></path>
        <circle class="st1" cx="840" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M840,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C822,566.1,830.1,558,840,558 M840,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S853.3,552,840,552z"></path>
        <circle class="st1" cx="840" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M840,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C822,662.1,830.1,654,840,654 M840,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S853.3,648,840,648z"></path>
        <circle class="st1" cx="696" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M696,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C678,758.1,686.1,750,696,750 M696,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S709.3,744,696,744z"></path>
        <circle class="st1" cx="840" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M840,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C822,758.1,830.1,750,840,750 M840,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S853.3,744,840,744z"></path>
        <circle class="st1" cx="936" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M936,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C918,470.1,926.1,462,936,462 M936,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S949.3,456,936,456z"></path>
        <circle class="st1" cx="936" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M936,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C918,566.1,926.1,558,936,558 M936,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S949.3,552,936,552z"></path>
        <circle class="st1" cx="936" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M936,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C918,662.1,926.1,654,936,654 M936,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S949.3,648,936,648z"></path>
        <circle class="st1" cx="1080" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M1080,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1062,470.1,1070.1,462,1080,462 M1080,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1093.3,456,1080,456z"></path>
        <circle class="st1" cx="1080" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M1080,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1062,566.1,1070.1,558,1080,558 M1080,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1093.3,552,1080,552z"></path>
        <circle class="st1" cx="1080" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M1080,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1062,662.1,1070.1,654,1080,654 M1080,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1093.3,648,1080,648z"></path>
        <circle class="st1" cx="936" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M936,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C918,758.1,926.1,750,936,750 M936,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S949.3,744,936,744z"></path>
        <circle class="st1" cx="1080" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M1080,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C1062,758.1,1070.1,750,1080,750 M1080,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1093.3,744,1080,744z"></path>
        <path
          class="st1"
          d="M1176,501c-11.6,0-21-9.4-21-21s9.4-21,21-21s21,9.4,21,21C1197,491.6,1187.6,501,1176,501z"
        ></path>
        <path
          class="st2"
          d="M1176,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1158,470.1,1166.1,462,1176,462 M1176,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1189.3,456,1176,456z"></path>
        <path
          class="st1"
          d="M1176,597c-11.6,0-21-9.4-21-21s9.4-21,21-21s21,9.4,21,21C1197,587.6,1187.6,597,1176,597z"
        ></path>
        <path
          class="st2"
          d="M1176,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1158,566.1,1166.1,558,1176,558 M1176,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1189.3,552,1176,552z"></path>
        <path
          class="st1"
          d="M1176,693c-11.6,0-21-9.4-21-21s9.4-21,21-21s21,9.4,21,21C1197,683.6,1187.6,693,1176,693z"
        ></path>
        <path
          class="st2"
          d="M1176,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1158,662.1,1166.1,654,1176,654 M1176,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1189.3,648,1176,648z"></path>
        <circle class="st1" cx="1320" cy="480" r="21"></circle>
        <path
          class="st2"
          d="M1320,462c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1302,470.1,1310.1,462,1320,462 M1320,456
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1333.3,456,1320,456z"></path>
        <circle class="st1" cx="1320" cy="576" r="21"></circle>
        <path
          class="st2"
          d="M1320,558c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1302,566.1,1310.1,558,1320,558 M1320,552
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1333.3,552,1320,552z"></path>
        <circle class="st1" cx="1320" cy="672" r="21"></circle>
        <path
          class="st2"
          d="M1320,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1302,662.1,1310.1,654,1320,654 M1320,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1333.3,648,1320,648z"></path>
        <path
          class="st1"
          d="M1176,789c-11.6,0-21-9.4-21-21s9.4-21,21-21s21,9.4,21,21C1197,779.6,1187.6,789,1176,789z"
        ></path>
        <path
          class="st2"
          d="M1176,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C1158,758.1,1166.1,750,1176,750 M1176,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1189.3,744,1176,744z"></path>
        <circle class="st1" cx="1320" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M1320,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C1302,758.1,1310.1,750,1320,750 M1320,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1333.3,744,1320,744z"></path>
        <path
          class="st1"
          d="M1416,693c-11.6,0-21-9.4-21-21s9.4-21,21-21s21,9.4,21,21C1437,683.6,1427.6,693,1416,693z"
        ></path>
        <path
          class="st2"
          d="M1416,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1398,662.1,1406.1,654,1416,654 M1416,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1429.3,648,1416,648z"></path>
        <circle class="st1" cx="1416" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M1416,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C1398,758.1,1406.1,750,1416,750 M1416,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1429.3,744,1416,744z"></path>
        <path
          class="st1"
          d="M1560,693c-11.6,0-21-9.4-21-21s9.4-21,21-21s21,9.4,21,21C1581,683.6,1571.6,693,1560,693z"
        ></path>
        <path
          class="st2"
          d="M1560,654c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18C1542,662.1,1550.1,654,1560,654 M1560,648
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1573.3,648,1560,648z"></path>
        <circle class="st1" cx="1560" cy="768" r="21"></circle>
        <path
          class="st2"
          d="M1560,750c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18l0,0C1542,758.1,1550.1,750,1560,750 M1560,744
		c-13.3,0-24,10.7-24,24s10.7,24,24,24s24-10.7,24-24S1573.3,744,1560,744z"></path>
      </g>
      <g id="legend">
        <path
          d="M1472.4,609.4h-6.4l-2.4-5c-0.4-0.7-0.7-1.6-0.8-2.4h-1.4v7.4h-6v-18.8h6v6.9h1.4c0.1-0.8,0.3-1.7,0.8-2.4l2.2-4.5h6.4
		l-4.4,9.1L1472.4,609.4z"></path>
        <path d="M1506.2,590.6h6v13.8h5.7v5h-11.7V590.6z"></path>
        <path d="M1600.8,52.5h5v-8.4l-5.3,0.4v-5.4l11.3-0.9v14.2h3.7v5h-14.7L1600.8,52.5z"></path>
        <path
          d="M1600.2,149c0-1,0.2-2,0.8-2.8c0.7-1,1.7-1.7,2.7-2.3c1.8-1,3.7-1.8,5.7-2.6v-1.7c-0.9-0.2-1.9-0.2-2.8-0.2
		c-1.8,0-3.5,0.2-5.2,0.6l-0.8-4.7c1.3-0.3,2.6-0.5,3.9-0.7c1.2-0.2,2.4-0.2,3.7-0.3c2.6,0,4.6,0.4,5.8,1.3c1.3,0.9,2,2.5,1.9,4.1
		c0.1,1.1-0.2,2.2-0.7,3.1c-0.7,1-1.6,1.8-2.7,2.3c-2.1,1.1-4.3,2-6.5,2.9v0.6h9.6v4.9h-15.3L1600.2,149z"
        ></path>
        <path
          d="M1604.3,249.4c-1.3-0.2-2.7-0.4-4-0.7l0.8-4.7c1.7,0.4,3.5,0.6,5.3,0.6c1,0,1.9,0,2.9-0.2v-2.1l-5.2-0.8v-3.1l5.2-0.9v-2
		c-0.9-0.2-1.8-0.2-2.8-0.2c-1.8,0-3.5,0.2-5.2,0.6l-0.8-4.7c2.5-0.6,5-0.9,7.5-1c2-0.1,4,0.3,5.8,1.2c1.3,0.8,2,2.2,1.9,3.6
		c0.1,2.1-1.1,4.1-3,4.9v0.1c1.9,0.6,3.1,2.4,3,4.4c0.1,1.6-0.6,3.1-1.9,4c-1.3,0.9-3.2,1.3-5.9,1.3
		C1606.7,249.7,1605.5,249.6,1604.3,249.4z"></path>
        <path
          d="M1599.2,678.1v-3.6l4.9-12h10.7v10.6h2v5h-2v3.2h-6V678L1599.2,678.1z M1608.8,673.1V667h-0.8l-2.5,6.1H1608.8z"
        ></path>
        <path
          d="M1600.2,776.5l0.8-4.7c1.6,0.3,3.3,0.5,4.9,0.6c1.1,0,2.3,0,3.4-0.2v-1.6l-2.2-0.2c-1.3-0.1-2.6-0.3-3.9-0.7
		c-0.7-0.2-1.4-0.6-1.9-1.2c-0.4-0.7-0.6-1.4-0.5-2.2l0.3-7.9h13.6l-0.4,5h-7.1v2l1.8,0.2c1.9,0.1,3.8,0.7,5.3,1.8
		c1.1,1.1,1.7,2.6,1.6,4.2c0.1,1.7-0.6,3.4-1.9,4.5c-1.3,1-3.2,1.5-5.8,1.5C1605.4,777.5,1602.8,777.2,1600.2,776.5z"
        ></path>
        <path d="M743.4,412.4h7v5h-13v-18.8h13.2l-0.8,5h-6.5v2.2h6v4.4h-6V412.4z"></path>
        <path d="M791.8,417.4h-6v-18.8h12.3l-0.8,5h-5.5v2.9h5.1v4.4h-5.1V417.4z"></path>
        <path
          d="M991.8,406.2v10.3c-1.1,0.5-2.2,0.8-3.3,1c-1.4,0.2-2.9,0.3-4.3,0.3c-1.7,0.1-3.3-0.2-4.8-0.9c-1.2-0.6-2-1.7-2.4-3
		c-0.5-1.9-0.8-4-0.7-6c-0.1-2,0.2-4,0.8-6c0.5-1.3,1.4-2.4,2.7-3c1.7-0.7,3.5-1,5.4-0.9c1.1,0,2.2,0.1,3.3,0.2
		c0.9,0.1,1.7,0.3,2.6,0.5l-0.8,4.7c-0.7-0.2-1.5-0.3-2.4-0.4c-0.8-0.1-1.5-0.2-2.3-0.2c-0.8-0.1-1.5,0.1-2.2,0.5
		c-0.5,0.4-0.7,1-0.6,1.6v7.8h3.4v-2.5h-1.5v-4.4L991.8,406.2z"></path>
        <path d="M1040.2,398.6v18.8h-6v-7.2h-4.5v7.2h-6v-18.8h6v7.2h4.5v-7.2H1040.2z"></path>
        <path d="M1227,398.6v18.8h-6v-18.8H1227z"></path>
        <path
          d="M1269.5,412.4c0.4,0,0.7,0,1.1-0.2c0.3-0.1,0.4-0.4,0.4-0.7v-8h-3v-5h9v13.8c0.1,1.3-0.3,2.7-1.2,3.7
		c-0.9,0.9-2.2,1.3-3.4,1.3h-4.7l-0.6-5L1269.5,412.4z"></path>
        <path
          d="M1472.4,321.4h-6.4l-2.4-5c-0.4-0.7-0.7-1.6-0.8-2.4h-1.4v7.4h-6v-18.8h6v6.9h1.4c0.1-0.8,0.3-1.7,0.8-2.4l2.2-4.5h6.4
		l-4.4,9.1L1472.4,321.4z"></path>
        <path d="M1506.2,302.6h6v13.8h5.7v5h-11.7V302.6z"></path>
        <path
          d="M266.7,414.4h-5.4l-0.8,3h-6l4.8-18.8h9.3l4.8,18.8h-6L266.7,414.4z M265.6,410.1l-1.4-5.7h-0.3l-1.4,5.7H265.6z"
        ></path>
        <path
          d="M319,409.4c0.6,0.8,0.9,1.7,0.9,2.7c0.1,1.5-0.5,2.9-1.6,3.9c-1.3,1-2.9,1.5-4.5,1.4h-9.6v-18.8h8.5
		c1.7-0.1,3.3,0.3,4.7,1.2c1.1,1,1.6,2.4,1.5,3.8c0,0.9-0.2,1.7-0.6,2.5c-0.3,0.7-0.9,1.3-1.5,1.7v0.2
		C317.7,408.2,318.4,408.7,319,409.4z M312.6,403.2c-0.3-0.2-0.6-0.3-1-0.3h-1.5v2.8h1.5c0.4,0,0.7-0.1,1-0.3
		c0.2-0.3,0.3-0.7,0.3-1.1C312.9,404,312.9,403.6,312.6,403.2z M313.4,412.7c0.2-0.4,0.3-0.8,0.3-1.2c0-0.4-0.1-0.8-0.3-1.2
		c-0.3-0.3-0.6-0.4-1-0.3h-2.2v3.1h2.2C312.7,413.1,313.1,413,313.4,412.7L313.4,412.7z"></path>
        <path
          d="M508.4,417.6c-1,0.1-2.1,0.2-3.1,0.2c-1.7,0.1-3.4-0.2-4.9-0.9c-1.2-0.6-2.1-1.7-2.5-3c-0.6-1.9-0.8-3.9-0.8-5.9
		c-0.1-2,0.2-4,0.8-5.9c0.5-1.3,1.4-2.4,2.7-3c1.7-0.7,3.5-1,5.3-0.9c0.9,0,1.9,0.1,2.8,0.2c0.7,0.1,1.5,0.3,2.2,0.5l-0.8,4.7
		c-0.6-0.2-1.3-0.3-2-0.4c-0.6-0.1-1.2-0.2-1.8-0.2c-0.8-0.1-1.5,0.1-2.2,0.5c-0.5,0.4-0.7,1-0.6,1.6v7.3c0.8,0.1,1.6,0.2,2.4,0.2
		c0.8,0,1.6-0.1,2.4-0.2c0.7-0.1,1.4-0.3,2.1-0.5l0.5,5C510.1,417.3,509.3,417.5,508.4,417.6z"></path>
        <path
          d="M551.7,398.6c1.8-0.1,3.7,0.2,5.4,0.8c1.2,0.5,2.2,1.6,2.7,2.8c1,3.8,1,7.7,0,11.5c-0.5,1.3-1.4,2.3-2.7,2.8
		c-1.7,0.6-3.6,0.9-5.4,0.8h-8.4v-18.8L551.7,398.6z M549.4,412.7h2.5c0.6,0.1,1.3-0.1,1.8-0.4c0.4-0.4,0.6-0.9,0.5-1.5v-5.6
		c0.1-0.5-0.1-1.1-0.5-1.5c-0.6-0.3-1.2-0.5-1.8-0.4h-2.5V412.7z"></path>
        <path d="M160.8,148.6h5v-8.4l-5.3,0.4v-5.4l11.3-0.9v14.2h3.7v4.9h-14.7V148.6z"></path>
        <path
          d="M160.2,245.1c0-1,0.2-2,0.8-2.8c0.7-1,1.7-1.7,2.7-2.3c1.8-1,3.7-1.8,5.7-2.6v-1.7c-0.9-0.2-1.9-0.2-2.8-0.2
		c-1.8,0-3.5,0.2-5.2,0.6l-0.8-4.7c1.3-0.3,2.6-0.5,3.9-0.7c1.2-0.2,2.4-0.2,3.7-0.3c2.6,0,4.6,0.4,5.9,1.3c1.3,0.9,2,2.5,1.9,4.1
		c0.1,1.1-0.2,2.2-0.7,3.1c-0.7,1-1.6,1.8-2.7,2.3c-2.1,1.1-4.3,2-6.5,2.9v0.6h9.6v4.9h-15.3V245.1z"
        ></path>
        <path
          d="M164.3,345.6c-1.3-0.2-2.7-0.4-4-0.7l0.8-4.7c1.7,0.4,3.5,0.6,5.3,0.6c1,0,1.9,0,2.9-0.2v-2.1l-5.2-0.8v-3.1l5.2-0.9v-2
		c-0.9-0.2-1.8-0.2-2.8-0.2c-1.8,0-3.5,0.2-5.2,0.6l-0.8-4.7c2.5-0.6,5-0.9,7.5-1c2-0.1,4,0.3,5.8,1.2c1.3,0.8,2,2.2,1.9,3.6
		c0.1,2.1-1.1,4.1-3,5v0.1c1.9,0.6,3.1,2.4,3,4.4c0.1,1.6-0.6,3.1-1.9,4c-1.3,0.9-3.2,1.3-5.9,1.3
		C166.7,345.8,165.5,345.7,164.3,345.6z"></path>
        <path
          d="M159.2,486.2v-3.6l4.9-12h10.6v10.6h2v5h-2v3.2h-6v-3.2L159.2,486.2z M168.8,481.2v-6.1h-0.8l-2.5,6.1H168.8z"
        ></path>
        <path
          d="M160.2,584.6l0.8-4.7c1.6,0.3,3.3,0.5,4.9,0.6c1.1,0,2.3,0,3.4-0.2v-1.6l-2.2-0.2c-1.3-0.1-2.6-0.3-3.9-0.7
		c-0.7-0.2-1.4-0.6-1.9-1.2c-0.4-0.7-0.6-1.4-0.5-2.2l0.3-7.9h13.6l-0.4,5h-7.1v2l1.8,0.2c1.9,0.1,3.8,0.7,5.3,1.8
		c1.1,1.1,1.7,2.6,1.6,4.2c0.1,1.7-0.6,3.4-1.9,4.5c-1.3,1-3.2,1.5-5.9,1.5C165.4,585.6,162.8,585.3,160.2,584.6z"
        ></path>
        <path
          d="M174.2,680.3c-1.3,1-3.4,1.5-6.3,1.5c-1.6,0.1-3.3-0.3-4.8-1c-1.2-0.7-2.1-1.8-2.6-3.1c-0.6-1.8-0.9-3.8-0.8-5.7
		c-0.1-2,0.2-4,0.9-5.8c0.6-1.4,1.7-2.5,3-3.1c1.8-0.7,3.8-1,5.7-0.9c1,0,2.1,0.1,3.1,0.3c1,0.1,1.9,0.4,2.9,0.6l-0.8,4.7
		c-0.8-0.2-1.6-0.3-2.5-0.4c-0.8-0.1-1.5-0.2-2.3-0.2c-1.2,0-2.4,0-3.5,0.3v1.8h1.6c2.9,0,5,0.5,6.3,1.4c1.4,1.1,2.1,2.8,1.9,4.6
		C176.2,677.6,175.5,679.3,174.2,680.3z M167.5,673.7c-0.4,0-0.7,0-1,0.3c-0.2,0.3-0.3,0.7-0.2,1v2.2h2.2c0.4,0,0.7,0,1-0.3
		c0.2-0.3,0.3-0.6,0.2-1v-2.2L167.5,673.7z"></path>
        <path d="M163.2,777.4l5.4-13.8h-7.2l-0.4-5h14.2v3.8l-5.8,15L163.2,777.4z"></path>
      </g>
      <g id="areas">
        <rect y="0" class="st3" width="144.7" height="816"></rect>
        <path class="st2" d="M43,399.4h-6v-18.8h12.3l-0.8,5H43v2.9h5.1v4.4H43V399.4z"></path>
        <path
          class="st2"
          d="M51.3,384.1c0.5-1.3,1.5-2.4,2.8-3c1.7-0.7,3.5-1,5.4-0.9c1.8-0.1,3.7,0.2,5.4,0.9c1.3,0.6,2.3,1.7,2.8,3
		c1.1,3.8,1.1,7.9,0,11.8c-0.5,1.3-1.5,2.4-2.8,3c-1.7,0.7-3.5,1-5.4,0.9c-1.8,0.1-3.7-0.2-5.4-0.9c-1.3-0.6-2.3-1.7-2.8-3
		C50.2,392,50.2,388,51.3,384.1z M59.7,394.7c0.6,0.1,1.3-0.1,1.9-0.3c0.4-0.3,0.6-0.8,0.5-1.2v-7.8h-2.8c-0.6-0.1-1.3,0.1-1.8,0.3
		c-0.4,0.3-0.6,0.8-0.5,1.2v7.8H59.7z"></path>
        <path
          class="st2"
          d="M71.1,384.1c0.5-1.3,1.5-2.4,2.8-3c1.7-0.7,3.5-1,5.4-0.9c1.8-0.1,3.7,0.2,5.4,0.9c1.3,0.6,2.3,1.7,2.8,3
		c1.1,3.8,1.1,7.9,0,11.8c-0.5,1.3-1.5,2.4-2.8,3c-1.7,0.7-3.5,1-5.4,0.9c-1.8,0.1-3.7-0.2-5.4-0.9c-1.3-0.6-2.3-1.7-2.8-3
		C70,392,70,388,71.1,384.1z M79.5,394.7c0.6,0.1,1.3-0.1,1.9-0.3c0.4-0.3,0.6-0.8,0.5-1.2v-7.8h-2.8c-0.6-0.1-1.3,0.1-1.8,0.3
		c-0.4,0.3-0.6,0.8-0.5,1.2v7.8H79.5z"></path>
        <path
          class="st2"
          d="M99.1,380.6c1.8-0.1,3.7,0.2,5.4,0.8c1.2,0.5,2.2,1.6,2.7,2.8c1,3.8,1,7.7,0,11.5c-0.5,1.3-1.4,2.3-2.7,2.8
		c-1.7,0.6-3.6,0.9-5.4,0.8h-8.4v-18.8L99.1,380.6z M96.7,394.7h2.5c0.6,0.1,1.3-0.1,1.8-0.4c0.4-0.4,0.6-0.9,0.5-1.5v-5.6
		c0.1-0.5-0.1-1.1-0.5-1.5c-0.6-0.3-1.2-0.5-1.8-0.4h-2.5L96.7,394.7z"></path>
        <path
          class="st2"
          d="M30.2,435.6c-1,0.1-2.1,0.2-3.1,0.2c-1.7,0.1-3.4-0.2-4.9-0.9c-1.2-0.6-2.1-1.7-2.5-3
		c-0.6-1.9-0.8-3.9-0.8-5.9c-0.1-2,0.2-4,0.8-5.9c0.5-1.3,1.4-2.4,2.7-3c1.7-0.7,3.5-1,5.3-0.9c0.9,0,1.9,0.1,2.8,0.2
		c0.7,0.1,1.5,0.3,2.2,0.5l-0.8,4.7c-0.6-0.2-1.3-0.3-2-0.4c-0.6-0.1-1.2-0.2-1.8-0.2c-0.8-0.1-1.5,0.1-2.2,0.5
		c-0.5,0.4-0.7,1-0.6,1.6v7.3c0.8,0.1,1.6,0.2,2.4,0.2c0.8,0,1.6-0.1,2.4-0.2c0.7-0.1,1.4-0.3,2.1-0.5l0.5,5
		C31.9,435.3,31,435.5,30.2,435.6z"></path>
        <path
          class="st2"
          d="M35,420.1c0.5-1.3,1.5-2.4,2.8-3c1.7-0.7,3.5-1,5.4-0.9c1.8-0.1,3.7,0.2,5.4,0.9c1.3,0.6,2.3,1.7,2.8,3
		c1.1,3.8,1.1,7.9,0,11.8c-0.5,1.3-1.5,2.4-2.8,3c-1.7,0.7-3.5,1-5.4,0.9c-1.8,0.1-3.7-0.2-5.4-0.9c-1.3-0.6-2.3-1.7-2.8-3
		C33.9,428.1,33.9,424,35,420.1L35,420.1z M43.3,430.7c0.6,0.1,1.3-0.1,1.9-0.3c0.4-0.3,0.6-0.8,0.5-1.2v-7.8H43
		c-0.6-0.1-1.3,0.1-1.8,0.3c-0.4,0.3-0.6,0.8-0.5,1.2v7.8H43.3z"></path>
        <path
          class="st2"
          d="M64.7,435.4l-2.5-5.4h-1.6v5.4h-6v-18.8h8.7c2.6,0,4.4,0.5,5.5,1.6s1.7,2.8,1.7,5.3c0,2.6-0.8,4.4-2.3,5.3
		l3.1,6.5H64.7z M60.6,425.6H63c0.3,0,0.7-0.1,0.9-0.3c0.2-0.3,0.3-0.6,0.3-1v-1.5c0-0.3-0.1-0.7-0.3-1c-0.3-0.2-0.6-0.3-0.9-0.3
		h-2.4L60.6,425.6z"></path>
        <path
          class="st2"
          d="M73.5,416.6h5.9l4.1,6.6c0.4,0.6,0.7,1.4,0.8,2.1h0.2v-8.7h6v18.8h-5.9l-4.1-6.6c-0.4-0.6-0.7-1.4-0.8-2.1
		h-0.2v8.7h-6L73.5,416.6z"></path>
        <path class="st2" d="M99.6,430.4h7.1v5H93.6v-18.8h13.2l-0.8,5h-6.4v2.2h6v4.4h-6V430.4z"
        ></path>
        <path
          class="st2"
          d="M119.3,435.4l-2.6-5.4h-1.6v5.4h-6v-18.8h8.7c2.6,0,4.4,0.5,5.5,1.6c1.1,1.1,1.7,2.8,1.7,5.3
		c0,2.6-0.8,4.4-2.3,5.3l3.1,6.5H119.3z M115.2,425.6h2.4c0.3,0,0.7-0.1,0.9-0.3c0.2-0.3,0.3-0.6,0.3-1v-1.5c0-0.3-0.1-0.7-0.3-1
		c-0.3-0.2-0.6-0.3-0.9-0.3h-2.4V425.6z"></path>
        <rect x="960" y="888" class="st3" width="192" height="72"></rect>
        <path class="st2" d="M1033.7,928.4h7v5h-13v-18.8h13.2l-0.8,5h-6.4v2.2h6v4.3h-6V928.4z"
        ></path>
        <path
          class="st2"
          d="M1053.9,933.4l-2.8-4.5l-2.6,4.5h-6.5l5.8-9.9l-5.5-8.9h6.7l2.6,4.1l2.4-4.1h6.5l-5.6,9.5l5.8,9.2H1053.9z"
        ></path>
        <path class="st2" d="M1068.2,914.6v18.8h-6v-18.8H1068.2z"></path>
        <path class="st2" d="M1080.1,933.4h-6v-13.8h-4.2v-5h14.4v5h-4.2L1080.1,933.4z"></path>
        <rect x="72" y="888" class="st3" width="264" height="72"></rect>
        <rect x="1632" y="0" class="st3" width="288" height="960"></rect>
        <path
          class="st2"
          d="M1742.8,708.4h-5.4l-0.8,3h-6l4.8-18.8h9.3l4.8,18.8h-6L1742.8,708.4z M1741.7,704.1l-1.4-5.7h-0.3l-1.4,5.7
		H1741.7z"></path>
        <path
          class="st2"
          d="M1759.6,692.6c1.8-0.1,3.7,0.2,5.4,0.8c1.2,0.5,2.2,1.6,2.7,2.8c1,3.8,1,7.7,0,11.5c-0.5,1.3-1.4,2.3-2.7,2.8
		c-1.7,0.6-3.6,0.9-5.4,0.8h-8.4v-18.8L1759.6,692.6z M1757.2,706.7h2.5c0.6,0.1,1.3-0.1,1.8-0.4c0.4-0.4,0.6-0.9,0.5-1.5v-5.6
		c0.1-0.5-0.1-1.1-0.5-1.5c-0.6-0.3-1.2-0.5-1.8-0.4h-2.5V706.7z"></path>
        <path
          class="st2"
          d="M1771.6,692.6h7.5l2.3,9.5h0.2l2.3-9.5h7.5l1.1,18.8h-6l-0.5-9.1h-0.2l-2.2,9.1h-4.6l-2.2-9.1h-0.2l-0.5,9.1
		h-6L1771.6,692.6z"></path>
        <path class="st2" d="M1801.2,692.6v18.8h-6v-18.8H1801.2z"></path>
        <path
          class="st2"
          d="M1804.4,692.6h5.9l4.1,6.6c0.4,0.6,0.7,1.4,0.8,2.1h0.2v-8.7h6v18.8h-5.9l-4.1-6.6c-0.4-0.6-0.7-1.4-0.8-2.1
		h-0.2v8.7h-6V692.6z"></path>
        <path
          class="st2"
          d="M1752.7,744.4h-5.4l-0.8,3h-6l4.8-18.8h9.3l4.8,18.8h-6L1752.7,744.4z M1751.5,740.1l-1.4-5.7h-0.3l-1.4,5.7
		H1751.5z"></path>
        <path
          class="st2"
          d="M1771.2,747.4l-2.5-5.4h-1.6v5.4h-6v-18.8h8.7c2.6,0,4.4,0.5,5.5,1.6c1.1,1.1,1.7,2.8,1.7,5.3
		c0,2.6-0.8,4.4-2.3,5.3l3.1,6.5H1771.2z M1767.1,737.6h2.4c0.3,0,0.7-0.1,0.9-0.3c0.2-0.3,0.3-0.6,0.3-1v-1.5c0-0.3-0.1-0.7-0.3-1
		c-0.3-0.2-0.6-0.3-0.9-0.3h-2.4V737.6z"></path>
        <path class="st2" d="M1785.8,742.4h7.1v5h-13.1v-18.8h13.2l-0.8,5h-6.4v2.2h6v4.3h-6V742.4z"
        ></path>
        <path
          class="st2"
          d="M1806.3,744.4h-5.4l-0.8,3h-6l4.8-18.8h9.3l4.8,18.8h-6L1806.3,744.4z M1805.1,740.1l-1.4-5.7h-0.3l-1.4,5.7
		H1805.1z"></path>
        <path
          class="st2"
          d="M1735.2,227c0.8,0,1.6,0,2.4-0.1v-1.7l-2.7-0.2c-1.3-0.1-2.5-0.4-3.7-0.9c-0.9-0.4-1.6-1-2-1.8
		c-0.5-1-0.7-2-0.6-3.1c-0.1-1.4,0.2-2.7,0.7-4c0.5-1,1.3-1.7,2.3-2.1c1.4-0.5,2.9-0.7,4.4-0.6c2.4,0,4.7,0.3,7.1,0.9l-0.8,4.8
		c-1-0.2-1.9-0.4-2.6-0.5c-0.7-0.1-1.5-0.1-2.2-0.1c-0.8,0-1.6,0-2.5,0.1v1.6l2.2,0.2c1.9,0,3.8,0.7,5.3,1.8
		c1.2,1.1,1.8,2.7,1.6,4.3c0.2,1.8-0.6,3.6-1.9,4.9c-1.3,1-3.3,1.5-6.1,1.5c-2.6,0-5.3-0.3-7.8-1.1l0.8-4.9
		C1731.1,226.7,1733.1,227,1735.2,227z"></path>
        <path
          class="st2"
          d="M1747,212.9h7.5l2.3,9.5h0.2l2.3-9.5h7.5l1.1,18.8h-6l-0.5-9.1h-0.2l-2.2,9.1h-4.6l-2.2-9.1h-0.2l-0.5,9.1h-6
		L1747,212.9z"></path>
        <path
          class="st2"
          d="M1781.5,228.6h-5.4l-0.8,3h-6l4.8-18.8h9.3l4.8,18.8h-6L1781.5,228.6z M1780.4,224.3l-1.4-5.7h-0.3l-1.4,5.7
		H1780.4z"></path>
        <path
          class="st2"
          d="M1796.1,227c0.8,0,1.6,0,2.4-0.1v-1.7l-2.7-0.2c-1.3-0.1-2.5-0.4-3.7-0.9c-0.9-0.4-1.6-1-2-1.8
		c-0.5-1-0.7-2-0.6-3.1c-0.1-1.4,0.2-2.7,0.7-4c0.5-1,1.3-1.7,2.3-2.1c1.4-0.5,2.9-0.7,4.4-0.6c2.4,0,4.7,0.3,7.1,0.9l-0.8,4.8
		c-1-0.2-1.9-0.4-2.6-0.5c-0.7-0.1-1.5-0.1-2.2-0.1c-0.8,0-1.6,0-2.5,0.1v1.6l2.2,0.2c1.9,0,3.8,0.7,5.3,1.8
		c1.2,1.1,1.8,2.7,1.6,4.3c0.2,1.8-0.6,3.6-1.9,4.9c-1.3,1-3.3,1.5-6.1,1.5c-2.6,0-5.3-0.3-7.8-1.1l0.8-4.9
		C1792,226.7,1794,227,1796.1,227z"></path>
        <path class="st2" d="M1823.7,212.9v18.8h-6v-7.2h-4.5v7.2h-6v-18.8h6v7.2h4.5v-7.2H1823.7z"
        ></path>
        <path
          class="st2"
          d="M1752.3,264.6h-5.4l-0.8,3h-6l4.8-18.8h9.3l4.8,18.8h-6L1752.3,264.6z M1751.2,260.3l-1.4-5.7h-0.3l-1.4,5.7
		H1751.2z"></path>
        <path
          class="st2"
          d="M1770.8,267.6l-2.6-5.4h-1.6v5.4h-6v-18.8h8.7c2.6,0,4.4,0.5,5.5,1.6c1.1,1.1,1.7,2.8,1.7,5.3
		c0,2.6-0.8,4.4-2.3,5.3l3.1,6.5H1770.8z M1766.7,257.8h2.4c0.3,0,0.7-0.1,0.9-0.3c0.2-0.3,0.3-0.6,0.3-1v-1.5c0-0.3-0.1-0.7-0.3-1
		c-0.3-0.2-0.6-0.3-0.9-0.3h-2.4V257.8z"></path>
        <path class="st2" d="M1785.4,262.6h7.1v5h-13.1v-18.8h13.2l-0.8,4.9h-6.4v2.2h6v4.4h-6V262.6z"
        ></path>
        <path
          class="st2"
          d="M1805.9,264.6h-5.4l-0.8,3h-6l4.8-18.8h9.3l4.8,18.8h-6L1805.9,264.6z M1804.7,260.3l-1.4-5.7h-0.3l-1.4,5.7
		H1804.7z"></path>
        <g>
          <path
            class="st2"
            d="M180.1,933.4h-6.4l-2.4-5c-0.5-1-0.8-1.8-0.8-2.4h-1.4v7.4h-6v-18.8h6v6.9h1.4c0-0.6,0.3-1.4,0.8-2.4l2.2-4.5
			h6.4l-4.4,9.1L180.1,933.4z"></path>
          <path class="st2" d="M187.8,914.6v18.8h-6v-18.8H187.8z"></path>
          <path
            class="st2"
            d="M191,918.1c0.6-1.4,1.5-2.4,2.8-3c1.3-0.6,3.1-0.9,5.4-0.9c2.3,0,4.1,0.3,5.4,0.9c1.3,0.6,2.2,1.6,2.8,3
			c0.6,1.4,0.8,3.4,0.8,5.9c0,2.5-0.3,4.5-0.8,5.9c-0.6,1.4-1.5,2.4-2.8,3c-1.3,0.6-3.1,0.9-5.4,0.9c-2.3,0-4.1-0.3-5.4-0.9
			c-1.3-0.6-2.2-1.6-2.8-3c-0.6-1.4-0.8-3.4-0.8-5.9C190.2,921.5,190.5,919.5,191,918.1z M199.4,928.7c0.9,0,1.5-0.1,1.9-0.3
			c0.3-0.2,0.5-0.6,0.5-1.2v-7.8H199c-0.9,0-1.5,0.1-1.8,0.3c-0.3,0.2-0.5,0.6-0.5,1.2v7.8H199.4z"
          ></path>
          <path
            class="st2"
            d="M216.8,928.8c1,0,1.8-0.1,2.4-0.2V927l-2.7-0.2c-1.6-0.1-2.8-0.4-3.7-0.9c-0.9-0.4-1.6-1-2-1.8
			c-0.4-0.8-0.6-1.8-0.6-3.1c0-1.7,0.2-3,0.7-4c0.5-1,1.3-1.7,2.3-2.1c1.1-0.4,2.5-0.6,4.4-0.6c2.5,0,4.8,0.3,7.1,0.9l-0.8,4.8
			c-1-0.2-1.9-0.4-2.6-0.5c-0.7-0.1-1.5-0.1-2.2-0.1c-1,0-1.8,0.1-2.5,0.2v1.6l2.2,0.2c2.4,0.2,4.2,0.8,5.3,1.8
			c1.1,1,1.6,2.4,1.6,4.3c0,2.2-0.6,3.8-1.9,4.9c-1.3,1-3.3,1.5-6.1,1.5c-2.8,0-5.5-0.4-7.8-1.1l0.8-5
			C212.7,928.4,214.7,928.8,216.8,928.8z"></path>
          <path
            class="st2"
            d="M244.8,933.4h-6.4l-2.4-5c-0.5-1-0.8-1.8-0.8-2.4h-1.4v7.4h-6v-18.8h6v6.9h1.4c0-0.6,0.3-1.4,0.8-2.4l2.2-4.5
			h6.4l-4.4,9.1L244.8,933.4z"></path>
        </g>
      </g>
      <g id="tables">
        <rect x="240" y="96" class="st3" width="96" height="288"></rect>
        <rect x="480" y="96" class="st3" width="96" height="288"></rect>
        <rect x="720" y="96" class="st3" width="96" height="288"></rect>
        <rect x="960" y="96" class="st3" width="96" height="288"></rect>
        <rect x="1200" y="96" class="st3" width="96" height="288"></rect>
        <rect x="1440" y="0" class="st3" width="96" height="288"></rect>
        <rect x="240" y="432" class="st3" width="96" height="384"></rect>
        <rect x="480" y="432" class="st3" width="96" height="384"></rect>
        <rect x="720" y="432" class="st3" width="96" height="384"></rect>
        <rect x="960" y="432" class="st3" width="96" height="384"></rect>
        <rect x="1200" y="432" class="st3" width="96" height="384"></rect>
        <rect x="1440" y="624" class="st3" width="96" height="192"></rect>
      </g>
    </svg>
  </div>
</section>

<style lang="scss">
  @use "../style/abstracts" as *;

  .seatplan {
    padding-top: 5em;
    padding-bottom: 5em;
    float: left;
    width: 100%;
    &__svg {
      margin-top: 2em;
      width: 100%;
      @include for-desktop-up {
        width: 80%;
      }

      position: relative;

      svg {
        width: 100%;
      }
    }

    &__claninfo {
      @include linear-gradient-blue;
      font-weight: bold;
      color: #ffffff;
      width: 60%;
      padding: 10px;
      text-align: center;
      margin: 2em 0;

      &--text {
        width: 100%;
        padding: 2em 3em;
        background: #ffffff;
        color: #000000;

        .text--small {
          font-size: 0.7rem;
          margin-top: 1rem;
        }
      }
    }
  }

  .seat {
    &__status {
      &--ready,
      &--reserved {
        fill: $yellow-dark;
      }
      &--free {
        fill: rgba(0, 0, 0, 0.1);
      }
    }

    &__popup {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $yellow-dark;
      font-size: 0.8rem;
      height: 24px;
      transform: translateX(-50%);

      img {
        height: 24px;
      }
      span {
        padding: 0 5px;
        background-color: $yellow-dark;
        position: relative;
        z-index: 1;
        strong {
          &::before {
            content: "[";
          }
          &::after {
            content: "]";
          }
        }
      }

      &::after {
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        transform: translateX(-50%) rotate(45deg);
        transform-origin: center center;
        position: absolute;
        top: -5px;
        left: 50%;
        background-color: $yellow-dark;
      }
    }
  }
</style>
