---
---

<section class="seatplan container container--flex">
  <h1>Hallenplan</h1>

  <div class="seatplan__claninfo">
    <div class="seatplan__claninfo--text">
      <h3>Möchtest du mit deinem Clan kommen?</h3>
      <p>Eröffne ein Support-Ticket mit dem Typ "Clan Reservation" <a href="https://isleoflan.atlassian.net/servicedesk/customer/portal/1" title="Support-Portal" target="_blank" rel="noopener">auf unserem Support-Portal</a> und wir reservieren für einen limitierten Zeitraum einen von euch gewünschten Block an Plätzen, welche dann nur von euren Mitgliedern ausgewählt werden können. </p>
      <p class="text--small">Vorerst sind bis zum 6. Februar 2022 exklusiv Clan-Reservationen möglich.</p>
    </div>
  </div>

  <div class="seatplan__svg">
    <svg
      width="1332"
      height="624"
      viewBox="0 0 1332 624"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect x="166" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="166" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="315" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="315" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="464" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="464" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="613" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="613" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="762" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="762" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="912" width="28" height="191" fill="#1565C0" />
      <rect x="912" y="422" width="28" height="127" fill="#1565C0" />
      <rect x="197" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="197" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="346" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="346" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="495" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="495" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="644" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="644" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="793" y="64" width="28" height="191" fill="#1565C0" />
      <rect x="793" y="295" width="28" height="254" fill="#1565C0" />
      <rect x="943" width="28" height="191" fill="#1565C0" />
      <rect x="943" y="422" width="28" height="127" fill="#1565C0" />
      <circle cx="149" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="149" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="298" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="298" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="447" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="447" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="596" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="596" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="745" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="745" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="894" cy="34" r="14" fill="#C4C4C4" />
      <circle cx="242" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="242" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="391" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="391" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="540" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="540" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="689" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="689" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="838" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="838" cy="330" r="14" fill="#C4C4C4" />
      <circle cx="987" cy="34" r="14" fill="#C4C4C4" />
      <circle cx="149" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="149" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="298" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="298" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="447" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="447" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="596" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="596" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="745" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="745" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="894" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="892" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="242" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="242" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="391" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="391" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="540" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="540" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="689" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="689" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="838" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="987" cy="97" r="14" fill="#C4C4C4" />
      <circle cx="838" cy="393" r="14" fill="#C4C4C4" />
      <circle cx="985" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="149" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="149" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="149" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="298" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="298" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="298" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="447" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="447" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="447" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="596" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="596" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="596" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="745" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="894" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="745" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="745" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="892" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="242" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="242" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="242" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="391" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="391" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="391" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="540" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="540" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="540" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="689" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="689" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="689" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="987" cy="160" r="14" fill="#C4C4C4" />
      <circle cx="838" cy="223" r="14" fill="#C4C4C4" />
      <circle cx="838" cy="456" r="14" fill="#C4C4C4" />
      <circle cx="838" cy="519" r="14" fill="#C4C4C4" />
      <circle cx="985" cy="519" r="14" fill="#C4C4C4" />
      <rect x="627" y="589" width="104" height="34" fill="#1565C0" />
      <path
        d="M668.8 608.336H664V610.16H669.88V614H659.2V599H669.76L669.16 602.84H664V604.856H668.8V608.336ZM676.175 599L677.831 603.008H678.071L679.727 599H684.935L681.599 606.248L684.935 614H679.607L677.807 609.68H677.591L675.815 614H670.727L673.991 606.392L670.727 599H676.175ZM686.13 614V599H690.93V614H686.13ZM704.005 602.84H700.525V614H695.725V602.84H692.245V599H704.005V602.84Z"
        fill="white"
      />
      <rect x="45" y="589" width="104" height="34" fill="#1565C0" />
      <rect width="90" height="549" fill="#1565C0" />
      <path
        d="M71 607.472V614H66.2V599H71V605.12H71.096C71.128 604.64 71.208 604.256 71.336 603.968L73.688 599H78.872L75.272 606.368L78.992 614H73.808L71.336 608.624C71.208 608.336 71.128 607.952 71.096 607.472H71ZM80.4266 614V599H85.2266V614H80.4266ZM86.9019 606.512C86.9019 603.776 87.4139 601.784 88.4379 600.536C89.4619 599.272 91.3099 598.64 93.9819 598.64C96.6539 598.64 98.5019 599.272 99.5259 600.536C100.55 601.784 101.062 603.776 101.062 606.512C101.062 607.872 100.95 609.016 100.726 609.944C100.518 610.872 100.15 611.68 99.6219 612.368C99.0939 613.056 98.3659 613.56 97.4379 613.88C96.5099 614.2 95.3579 614.36 93.9819 614.36C92.6059 614.36 91.4539 614.2 90.5259 613.88C89.5979 613.56 88.8699 613.056 88.3419 612.368C87.8139 611.68 87.4379 610.872 87.2139 609.944C87.0059 609.016 86.9019 607.872 86.9019 606.512ZM92.0619 604.016V610.256H94.0539C94.7099 610.256 95.1819 610.184 95.4699 610.04C95.7739 609.88 95.9259 609.528 95.9259 608.984V602.744H93.9099C93.2699 602.744 92.7979 602.824 92.4939 602.984C92.2059 603.128 92.0619 603.472 92.0619 604.016ZM102.139 613.736L102.811 609.776C104.283 610.144 105.603 610.328 106.771 610.328C107.955 610.328 108.907 610.28 109.627 610.184V608.984L107.467 608.792C105.515 608.616 104.171 608.152 103.435 607.4C102.715 606.632 102.355 605.504 102.355 604.016C102.355 601.968 102.795 600.56 103.675 599.792C104.571 599.024 106.083 598.64 108.211 598.64C110.339 598.64 112.259 598.84 113.971 599.24L113.371 603.08C111.883 602.84 110.691 602.72 109.795 602.72C108.899 602.72 108.139 602.76 107.515 602.84V604.016L109.243 604.184C111.339 604.392 112.787 604.896 113.587 605.696C114.387 606.48 114.787 607.576 114.787 608.984C114.787 609.992 114.651 610.848 114.379 611.552C114.107 612.24 113.779 612.768 113.395 613.136C113.027 613.488 112.499 613.76 111.811 613.952C111.123 614.144 110.515 614.256 109.987 614.288C109.475 614.336 108.787 614.36 107.923 614.36C105.843 614.36 103.915 614.152 102.139 613.736ZM121.391 607.472V614H116.591V599H121.391V605.12H121.487C121.519 604.64 121.599 604.256 121.727 603.968L124.079 599H129.263L125.663 606.368L129.383 614H124.199L121.727 608.624C121.599 608.336 121.519 607.952 121.487 607.472H121.391Z"
        fill="white"
      />
      <path
        d="M28.6257 273.896H24.8857V279H20.4857V265.25H29.5057L28.9557 268.77H24.8857V270.618H28.6257V273.896ZM30.1597 272.136C30.1597 269.628 30.6291 267.802 31.5677 266.658C32.5064 265.499 34.2004 264.92 36.6497 264.92C39.0991 264.92 40.7931 265.499 41.7317 266.658C42.6704 267.802 43.1397 269.628 43.1397 272.136C43.1397 273.383 43.0371 274.431 42.8317 275.282C42.6411 276.133 42.3037 276.873 41.8197 277.504C41.3357 278.135 40.6684 278.597 39.8177 278.89C38.9671 279.183 37.9111 279.33 36.6497 279.33C35.3884 279.33 34.3324 279.183 33.4817 278.89C32.6311 278.597 31.9637 278.135 31.4797 277.504C30.9957 276.873 30.6511 276.133 30.4457 275.282C30.2551 274.431 30.1597 273.383 30.1597 272.136ZM34.8897 269.848V275.568H36.7157C37.3171 275.568 37.7497 275.502 38.0137 275.37C38.2924 275.223 38.4317 274.901 38.4317 274.402V268.682H36.5837C35.9971 268.682 35.5644 268.755 35.2857 268.902C35.0217 269.034 34.8897 269.349 34.8897 269.848ZM44.0171 272.136C44.0171 269.628 44.4865 267.802 45.4251 266.658C46.3638 265.499 48.0578 264.92 50.5071 264.92C52.9565 264.92 54.6505 265.499 55.5891 266.658C56.5278 267.802 56.9971 269.628 56.9971 272.136C56.9971 273.383 56.8945 274.431 56.6891 275.282C56.4985 276.133 56.1611 276.873 55.6771 277.504C55.1931 278.135 54.5258 278.597 53.6751 278.89C52.8245 279.183 51.7685 279.33 50.5071 279.33C49.2458 279.33 48.1898 279.183 47.3391 278.89C46.4885 278.597 45.8211 278.135 45.3371 277.504C44.8531 276.873 44.5085 276.133 44.3031 275.282C44.1125 274.431 44.0171 273.383 44.0171 272.136ZM48.7471 269.848V275.568H50.5731C51.1745 275.568 51.6071 275.502 51.8711 275.37C52.1498 275.223 52.2891 274.901 52.2891 274.402V268.682H50.4411C49.8545 268.682 49.4218 268.755 49.1431 268.902C48.8791 269.034 48.7471 269.349 48.7471 269.848ZM58.5346 279V265.25H64.6946C67.1732 265.25 68.8746 265.778 69.7986 266.834C70.7226 267.89 71.1846 269.657 71.1846 272.136C71.1846 274.6 70.7226 276.36 69.7986 277.416C68.8746 278.472 67.1732 279 64.6946 279H58.5346ZM64.7606 268.77H62.9346V275.48H64.7606C65.3619 275.48 65.7946 275.414 66.0586 275.282C66.3372 275.135 66.4766 274.813 66.4766 274.314V269.936C66.4766 269.437 66.3372 269.122 66.0586 268.99C65.7946 268.843 65.3619 268.77 64.7606 268.77ZM16.7251 298.062L17.0551 301.758C16.1311 302.139 14.9725 302.33 13.5791 302.33C12.1858 302.33 11.0638 302.183 10.2131 301.89C9.37712 301.597 8.71712 301.135 8.23312 300.504C7.74912 299.873 7.41178 299.133 7.22112 298.282C7.03045 297.431 6.93512 296.383 6.93512 295.136C6.93512 293.889 7.03045 292.841 7.22112 291.99C7.41178 291.125 7.74912 290.377 8.23312 289.746C9.17178 288.529 10.8951 287.92 13.4031 287.92C13.9605 287.92 14.6131 287.979 15.3611 288.096C16.1238 288.199 16.6885 288.331 17.0551 288.492L16.3951 291.858C15.4418 291.653 14.5691 291.55 13.7771 291.55C12.9851 291.55 12.4351 291.623 12.1271 291.77C11.8191 291.917 11.6651 292.21 11.6651 292.65V298.414C12.2371 298.531 12.8165 298.59 13.4031 298.59C14.6498 298.59 15.7571 298.414 16.7251 298.062ZM17.9351 295.136C17.9351 292.628 18.4045 290.802 19.3431 289.658C20.2818 288.499 21.9758 287.92 24.4251 287.92C26.8745 287.92 28.5685 288.499 29.5071 289.658C30.4458 290.802 30.9151 292.628 30.9151 295.136C30.9151 296.383 30.8125 297.431 30.6071 298.282C30.4165 299.133 30.0791 299.873 29.5951 300.504C29.1111 301.135 28.4438 301.597 27.5931 301.89C26.7425 302.183 25.6865 302.33 24.4251 302.33C23.1638 302.33 22.1078 302.183 21.2571 301.89C20.4065 301.597 19.7391 301.135 19.2551 300.504C18.7711 299.873 18.4265 299.133 18.2211 298.282C18.0305 297.431 17.9351 296.383 17.9351 295.136ZM22.6651 292.848V298.568H24.4911C25.0925 298.568 25.5251 298.502 25.7891 298.37C26.0678 298.223 26.2071 297.901 26.2071 297.402V291.682H24.3591C23.7725 291.682 23.3398 291.755 23.0611 291.902C22.7971 292.034 22.6651 292.349 22.6651 292.848ZM44.4425 302H39.6025L37.7985 297.908H36.8525V302H32.4525V288.25H39.3825C42.5359 288.25 44.1125 289.856 44.1125 293.068C44.1125 295.268 43.4305 296.72 42.0665 297.424L44.4425 302ZM36.8525 291.77V294.52H37.8645C38.3925 294.52 38.7739 294.469 39.0085 294.366C39.2579 294.249 39.3825 293.992 39.3825 293.596V292.694C39.3825 292.298 39.2579 292.049 39.0085 291.946C38.7739 291.829 38.3925 291.77 37.8645 291.77H36.8525ZM54.0617 302L50.6957 297.116C50.5784 296.955 50.505 296.603 50.4757 296.06H50.3877V302H45.9877V288.25H50.1237L53.4897 293.134C53.607 293.295 53.6804 293.647 53.7097 294.19H53.7977V288.25H58.1977V302H54.0617ZM69.2037 296.808H64.8037V298.48H70.1937V302H60.4037V288.25H70.0837L69.5337 291.77H64.8037V293.618H69.2037V296.808ZM84.0597 302H79.2197L77.4157 297.908H76.4697V302H72.0697V288.25H78.9997C82.1531 288.25 83.7297 289.856 83.7297 293.068C83.7297 295.268 83.0477 296.72 81.6837 297.424L84.0597 302ZM76.4697 291.77V294.52H77.4817C78.0097 294.52 78.3911 294.469 78.6257 294.366C78.8751 294.249 78.9997 293.992 78.9997 293.596V292.694C78.9997 292.298 78.8751 292.049 78.6257 291.946C78.3911 291.829 78.0097 291.77 77.4817 291.77H76.4697Z"
        fill="white"
      />
      <rect x="1041" y="312" width="291" height="312" fill="#1565C0" />
      <path
        d="M1155.04 464H1149.98L1153.87 449H1161.28L1165.17 464H1160.11L1159.55 461.624H1155.59L1155.04 464ZM1157.44 453.608L1156.46 457.808H1158.67L1157.71 453.608H1157.44ZM1166.09 464V449H1172.81C1175.51 449 1177.37 449.576 1178.38 450.728C1179.39 451.88 1179.89 453.808 1179.89 456.512C1179.89 459.2 1179.39 461.12 1178.38 462.272C1177.37 463.424 1175.51 464 1172.81 464H1166.09ZM1172.88 452.84H1170.89V460.16H1172.88C1173.54 460.16 1174.01 460.088 1174.3 459.944C1174.6 459.784 1174.75 459.432 1174.75 458.888V454.112C1174.75 453.568 1174.6 453.224 1174.3 453.08C1174.01 452.92 1173.54 452.84 1172.88 452.84ZM1185.98 464H1180.96L1181.87 449H1188.14L1190.01 456.632H1190.18L1192.05 449H1198.31L1199.22 464H1194.21L1193.92 456.728H1193.75L1191.93 464H1188.26L1186.41 456.728H1186.26L1185.98 464ZM1201.01 464V449H1205.81V464H1201.01ZM1217.02 464L1213.34 458.672C1213.22 458.496 1213.14 458.112 1213.1 457.52H1213.01V464H1208.21V449H1212.72L1216.39 454.328C1216.52 454.504 1216.6 454.888 1216.63 455.48H1216.73V449H1221.53V464H1217.02ZM1162.9 489H1157.84L1161.73 474H1169.14L1173.03 489H1167.97L1167.42 486.624H1163.46L1162.9 489ZM1165.3 478.608L1164.32 482.808H1166.53L1165.57 478.608H1165.3ZM1187.03 489H1181.75L1179.79 484.536H1178.75V489H1173.95V474H1181.51C1184.95 474 1186.67 475.752 1186.67 479.256C1186.67 481.656 1185.93 483.24 1184.44 484.008L1187.03 489ZM1178.75 477.84V480.84H1179.86C1180.43 480.84 1180.85 480.784 1181.11 480.672C1181.38 480.544 1181.51 480.264 1181.51 479.832V478.848C1181.51 478.416 1181.38 478.144 1181.11 478.032C1180.85 477.904 1180.43 477.84 1179.86 477.84H1178.75ZM1198.32 483.336H1193.52V485.16H1199.4V489H1188.72V474H1199.28L1198.68 477.84H1193.52V479.856H1198.32V483.336ZM1205.02 489H1199.96L1203.85 474H1211.26L1215.15 489H1210.09L1209.53 486.624H1205.57L1205.02 489ZM1207.42 478.608L1206.44 482.808H1208.65L1207.69 478.608H1207.42Z"
        fill="white"
      />
      <rect x="1041" width="291" height="312" fill="#1565C0" />
      <path
        d="M1148.9 151.736L1149.58 147.776C1151.05 148.144 1152.37 148.328 1153.54 148.328C1154.72 148.328 1155.67 148.28 1156.39 148.184V146.984L1154.23 146.792C1152.28 146.616 1150.94 146.152 1150.2 145.4C1149.48 144.632 1149.12 143.504 1149.12 142.016C1149.12 139.968 1149.56 138.56 1150.44 137.792C1151.34 137.024 1152.85 136.64 1154.98 136.64C1157.1 136.64 1159.02 136.84 1160.74 137.24L1160.14 141.08C1158.65 140.84 1157.46 140.72 1156.56 140.72C1155.66 140.72 1154.9 140.76 1154.28 140.84V142.016L1156.01 142.184C1158.1 142.392 1159.55 142.896 1160.35 143.696C1161.15 144.48 1161.55 145.576 1161.55 146.984C1161.55 147.992 1161.42 148.848 1161.14 149.552C1160.87 150.24 1160.54 150.768 1160.16 151.136C1159.79 151.488 1159.26 151.76 1158.58 151.952C1157.89 152.144 1157.28 152.256 1156.75 152.288C1156.24 152.336 1155.55 152.36 1154.69 152.36C1152.61 152.36 1150.68 152.152 1148.9 151.736ZM1167.77 152H1162.76L1163.67 137H1169.93L1171.8 144.632H1171.97L1173.84 137H1180.11L1181.02 152H1176L1175.72 144.728H1175.55L1173.72 152H1170.05L1168.2 144.728H1168.06L1167.77 152ZM1186.39 152H1181.32L1185.21 137H1192.63L1196.51 152H1191.45L1190.9 149.624H1186.94L1186.39 152ZM1188.79 141.608L1187.8 145.808H1190.01L1189.05 141.608H1188.79ZM1196.83 151.736L1197.51 147.776C1198.98 148.144 1200.3 148.328 1201.47 148.328C1202.65 148.328 1203.6 148.28 1204.32 148.184V146.984L1202.16 146.792C1200.21 146.616 1198.87 146.152 1198.13 145.4C1197.41 144.632 1197.05 143.504 1197.05 142.016C1197.05 139.968 1197.49 138.56 1198.37 137.792C1199.27 137.024 1200.78 136.64 1202.91 136.64C1205.03 136.64 1206.95 136.84 1208.67 137.24L1208.07 141.08C1206.58 140.84 1205.39 140.72 1204.49 140.72C1203.59 140.72 1202.83 140.76 1202.21 140.84V142.016L1203.94 142.184C1206.03 142.392 1207.48 142.896 1208.28 143.696C1209.08 144.48 1209.48 145.576 1209.48 146.984C1209.48 147.992 1209.35 148.848 1209.07 149.552C1208.8 150.24 1208.47 150.768 1208.09 151.136C1207.72 151.488 1207.19 151.76 1206.51 151.952C1205.82 152.144 1205.21 152.256 1204.68 152.288C1204.17 152.336 1203.48 152.36 1202.62 152.36C1200.54 152.36 1198.61 152.152 1196.83 151.736ZM1219.69 152V146.696H1216.09V152H1211.29V137H1216.09V142.304H1219.69V137H1224.49V152H1219.69ZM1163.4 177H1158.34L1162.23 162H1169.64L1173.53 177H1168.47L1167.92 174.624H1163.96L1163.4 177ZM1165.8 166.608L1164.82 170.808H1167.03L1166.07 166.608H1165.8ZM1187.53 177H1182.25L1180.29 172.536H1179.25V177H1174.45V162H1182.01C1185.45 162 1187.17 163.752 1187.17 167.256C1187.17 169.656 1186.43 171.24 1184.94 172.008L1187.53 177ZM1179.25 165.84V168.84H1180.36C1180.93 168.84 1181.35 168.784 1181.61 168.672C1181.88 168.544 1182.01 168.264 1182.01 167.832V166.848C1182.01 166.416 1181.88 166.144 1181.61 166.032C1181.35 165.904 1180.93 165.84 1180.36 165.84H1179.25ZM1198.82 171.336H1194.02V173.16H1199.9V177H1189.22V162H1199.78L1199.18 165.84H1194.02V167.856H1198.82V171.336ZM1205.52 177H1200.46L1204.35 162H1211.76L1215.65 177H1210.59L1210.03 174.624H1206.07L1205.52 177ZM1207.92 166.608L1206.94 170.808H1209.15L1208.19 166.608H1207.92Z"
        fill="white"
      />
      <line x1="1041" y1="311.5" x2="1332" y2="311.5" stroke="white" />
      <path
        d="M177.755 283H173.113L176.677 269.25H183.475L187.039 283H182.397L181.891 280.822H178.261L177.755 283ZM179.955 273.474L179.053 277.324H181.077L180.197 273.474H179.955ZM205.703 283V269.25H212.831C214.151 269.25 215.09 269.507 215.647 270.02C216.219 270.533 216.505 271.281 216.505 272.264C216.505 273.247 216.322 274.009 215.955 274.552C215.603 275.08 215.127 275.425 214.525 275.586V275.718C216.3 276.026 217.187 277.236 217.187 279.348C217.187 280.448 216.894 281.335 216.307 282.01C215.721 282.67 214.819 283 213.601 283H205.703ZM211.819 277.522H210.103V279.766H211.797C212.413 279.766 212.721 279.392 212.721 278.644C212.721 277.896 212.421 277.522 211.819 277.522ZM211.489 272.264H210.103V274.31H211.467C212.025 274.31 212.303 273.973 212.303 273.298C212.303 272.609 212.032 272.264 211.489 272.264Z"
        fill="black"
      />
      <path
        d="M334.23 279.062L334.56 282.758C333.636 283.139 332.477 283.33 331.084 283.33C329.691 283.33 328.569 283.183 327.718 282.89C326.882 282.597 326.222 282.135 325.738 281.504C325.254 280.873 324.917 280.133 324.726 279.282C324.535 278.431 324.44 277.383 324.44 276.136C324.44 274.889 324.535 273.841 324.726 272.99C324.917 272.125 325.254 271.377 325.738 270.746C326.677 269.529 328.4 268.92 330.908 268.92C331.465 268.92 332.118 268.979 332.866 269.096C333.629 269.199 334.193 269.331 334.56 269.492L333.9 272.858C332.947 272.653 332.074 272.55 331.282 272.55C330.49 272.55 329.94 272.623 329.632 272.77C329.324 272.917 329.17 273.21 329.17 273.65V279.414C329.742 279.531 330.321 279.59 330.908 279.59C332.155 279.59 333.262 279.414 334.23 279.062ZM353.92 283V269.25H360.08C362.559 269.25 364.26 269.778 365.184 270.834C366.108 271.89 366.57 273.657 366.57 276.136C366.57 278.6 366.108 280.36 365.184 281.416C364.26 282.472 362.559 283 360.08 283H353.92ZM360.146 272.77H358.32V279.48H360.146C360.747 279.48 361.18 279.414 361.444 279.282C361.723 279.135 361.862 278.813 361.862 278.314V273.936C361.862 273.437 361.723 273.122 361.444 272.99C361.18 272.843 360.747 272.77 360.146 272.77Z"
        fill="black"
      />
      <path
        d="M483.99 277.808H479.59V279.48H484.98V283H475.19V269.25H484.87L484.32 272.77H479.59V274.618H483.99V277.808ZM512.816 277.896H509.076V283H504.676V269.25H513.696L513.146 272.77H509.076V274.618H512.816V277.896Z"
        fill="black"
      />
      <path
        d="M627.48 278.952V278.358H626.358V274.992H631.66V282.34C629.915 283 628.111 283.33 626.248 283.33C623.74 283.33 622.017 282.721 621.078 281.504C620.594 280.873 620.257 280.133 620.066 279.282C619.875 278.431 619.78 277.383 619.78 276.136C619.78 274.875 619.875 273.826 620.066 272.99C620.271 272.139 620.631 271.399 621.144 270.768C622.112 269.536 623.982 268.92 626.754 268.92C627.326 268.92 628.067 268.979 628.976 269.096C629.9 269.213 630.575 269.345 631 269.492L630.34 272.858C629.152 272.653 628.074 272.55 627.106 272.55C626.153 272.55 625.478 272.623 625.082 272.77C624.701 272.917 624.51 273.21 624.51 273.65V279.876H625.962C626.49 279.876 626.871 279.825 627.106 279.722C627.355 279.605 627.48 279.348 627.48 278.952ZM659.151 283V278.138H655.851V283H651.451V269.25H655.851V274.112H659.151V269.25H663.551V283H659.151Z"
        fill="black"
      />
      <path
        d="M926.564 205.016V211H922.164V197.25H926.564V202.86H926.652C926.681 202.42 926.754 202.068 926.872 201.804L929.028 197.25H933.78L930.48 204.004L933.89 211H929.138L926.872 206.072C926.754 205.808 926.681 205.456 926.652 205.016H926.564ZM961.825 211H953.025V197.25H957.425V207.48H961.825V211Z"
        fill="black"
      />
      <path
        d="M926.564 412.016V418H922.164V404.25H926.564V409.86H926.652C926.681 409.42 926.754 409.068 926.872 408.804L929.028 404.25H933.78L930.48 411.004L933.89 418H929.138L926.872 413.072C926.754 412.808 926.681 412.456 926.652 412.016H926.564ZM961.825 418H953.025V404.25H957.425V414.48H961.825V418Z"
        fill="black"
      />
      <path
        d="M771.514 283V269.25H775.914V283H771.514ZM802.97 283L802.53 279.48H804.356C804.81 279.48 805.096 279.421 805.214 279.304C805.346 279.172 805.412 279.011 805.412 278.82V272.77H803.586V269.25H809.812V279.37C809.812 280.558 809.518 281.46 808.932 282.076C808.345 282.692 807.502 283 806.402 283H802.97Z"
        fill="black"
      />
      <path
        d="M124.856 104H113.856V100.48H117.772V94.65L113.856 94.914V91.394L118.916 90.25H122.392V100.48H124.856V104ZM114.054 157.034L113.482 153.756C115.33 153.199 117.171 152.92 119.004 152.92C119.738 152.92 120.346 152.942 120.83 152.986C121.329 153.03 121.842 153.14 122.37 153.316C122.898 153.492 123.316 153.734 123.624 154.042C124.328 154.746 124.68 155.824 124.68 157.276C124.68 158.728 124.27 159.799 123.448 160.488C122.627 161.177 120.896 161.969 118.256 162.864V163.48H124.46V167H113.174V164.25C113.174 163.429 113.328 162.644 113.636 161.896C113.827 161.471 114.289 160.957 115.022 160.356C115.418 160.019 115.946 159.696 116.606 159.388C117.281 159.08 117.912 158.794 118.498 158.53C119.1 158.251 119.584 158.024 119.95 157.848V156.66C119.29 156.587 118.682 156.55 118.124 156.55C116.775 156.55 115.418 156.711 114.054 157.034ZM120.082 221.09V219.66C119.642 219.587 118.931 219.55 117.948 219.55C116.966 219.55 115.741 219.704 114.274 220.012L113.702 216.756C115.492 216.199 117.222 215.92 118.894 215.92C120.332 215.92 121.373 216.008 122.018 216.184C122.664 216.36 123.14 216.573 123.448 216.822C124.123 217.394 124.46 218.259 124.46 219.418C124.46 220.885 123.852 221.941 122.634 222.586V222.696C124.086 223.297 124.812 224.39 124.812 225.974C124.812 226.751 124.688 227.419 124.438 227.976C124.204 228.519 123.903 228.944 123.536 229.252C123.17 229.545 122.686 229.78 122.084 229.956C121.19 230.205 119.928 230.33 118.3 230.33C116.687 230.33 115.066 230.139 113.438 229.758L114.054 226.128C115.448 226.465 116.628 226.634 117.596 226.634C118.564 226.634 119.393 226.59 120.082 226.502V225.094L116.298 224.72V221.53L120.082 221.09Z"
        fill="black"
      />
      <path
        d="M119.532 336V333.8H112.756V331.05L116.144 322.25H123.932V330.016H125.362V333.8H123.932V336H119.532ZM119.312 325.55L117.354 330.016H119.532V325.55H119.312ZM113.328 398.758L113.944 395.128C115.338 395.465 116.555 395.634 117.596 395.634C118.652 395.634 119.518 395.59 120.192 395.502V394.402L118.542 394.226C116.724 394.035 115.484 393.727 114.824 393.302C114.179 392.862 113.856 392.085 113.856 390.97C113.856 390.809 113.93 388.902 114.076 385.25H124.086L123.756 389.034L118.542 388.726V389.848L119.84 390.002C121.762 390.237 123.089 390.713 123.822 391.432C124.556 392.136 124.922 393.126 124.922 394.402C124.922 395.326 124.798 396.111 124.548 396.756C124.299 397.387 123.998 397.871 123.646 398.208C123.309 398.531 122.825 398.78 122.194 398.956C121.564 399.132 121.006 399.235 120.522 399.264C120.053 399.308 119.422 399.33 118.63 399.33C116.724 399.33 114.956 399.139 113.328 398.758ZM120.104 458.084V456.346H119.202C118.718 456.346 118.381 456.405 118.19 456.522C118 456.625 117.904 456.874 117.904 457.27V459.008H118.806C119.29 459.008 119.628 458.957 119.818 458.854C120.009 458.737 120.104 458.48 120.104 458.084ZM124.394 455.18C124.688 455.825 124.834 456.632 124.834 457.6C124.834 458.568 124.688 459.382 124.394 460.042C124.101 460.687 123.668 461.171 123.096 461.494C122.524 461.817 121.916 462.037 121.27 462.154C120.64 462.271 119.884 462.33 119.004 462.33C116.79 462.33 115.264 461.758 114.428 460.614C113.592 459.47 113.174 457.644 113.174 455.136C113.174 453.86 113.27 452.804 113.46 451.968C113.651 451.132 113.996 450.399 114.494 449.768C115.448 448.536 117.31 447.92 120.082 447.92C120.64 447.92 121.373 447.986 122.282 448.118C123.206 448.235 123.888 448.36 124.328 448.492L123.668 451.858C122.48 451.653 121.344 451.55 120.258 451.55C119.188 451.55 118.403 451.616 117.904 451.748V452.87H119.004C119.884 452.87 120.64 452.929 121.27 453.046C121.916 453.163 122.524 453.383 123.096 453.706C123.668 454.029 124.101 454.52 124.394 455.18ZM124.592 514L120.346 525H115.374L119.312 515.078L114.032 515.144L113.702 511.25H124.592V514Z"
        fill="black"
      />
      <path
        d="M1017.53 466V463.8H1010.76V461.05L1014.14 452.25H1021.93V460.016H1023.36V463.8H1021.93V466H1017.53ZM1017.31 455.55L1015.35 460.016H1017.53V455.55H1017.31ZM1011.33 528.758L1011.94 525.128C1013.34 525.465 1014.55 525.634 1015.6 525.634C1016.65 525.634 1017.52 525.59 1018.19 525.502V524.402L1016.54 524.226C1014.72 524.035 1013.48 523.727 1012.82 523.302C1012.18 522.862 1011.86 522.085 1011.86 520.97C1011.86 520.809 1011.93 518.902 1012.08 515.25H1022.09L1021.76 519.034L1016.54 518.726V519.848L1017.84 520.002C1019.76 520.237 1021.09 520.713 1021.82 521.432C1022.56 522.136 1022.92 523.126 1022.92 524.402C1022.92 525.326 1022.8 526.111 1022.55 526.756C1022.3 527.387 1022 527.871 1021.65 528.208C1021.31 528.531 1020.82 528.78 1020.19 528.956C1019.56 529.132 1019.01 529.235 1018.52 529.264C1018.05 529.308 1017.42 529.33 1016.63 529.33C1014.72 529.33 1012.96 529.139 1011.33 528.758Z"
        fill="black"
      />
      <path
        d="M1022.86 41H1011.86V37.48H1015.77V31.65L1011.86 31.914V28.394L1016.92 27.25H1020.39V37.48H1022.86V41ZM1012.05 94.034L1011.48 90.756C1013.33 90.1987 1015.17 89.92 1017 89.92C1017.74 89.92 1018.35 89.942 1018.83 89.986C1019.33 90.03 1019.84 90.14 1020.37 90.316C1020.9 90.492 1021.32 90.734 1021.62 91.042C1022.33 91.746 1022.68 92.824 1022.68 94.276C1022.68 95.728 1022.27 96.7987 1021.45 97.488C1020.63 98.1773 1018.9 98.9693 1016.26 99.864V100.48H1022.46V104H1011.17V101.25C1011.17 100.429 1011.33 99.644 1011.64 98.896C1011.83 98.4707 1012.29 97.9573 1013.02 97.356C1013.42 97.0187 1013.95 96.696 1014.61 96.388C1015.28 96.08 1015.91 95.794 1016.5 95.53C1017.1 95.2513 1017.58 95.024 1017.95 94.848V93.66C1017.29 93.5867 1016.68 93.55 1016.12 93.55C1014.77 93.55 1013.42 93.7113 1012.05 94.034ZM1018.08 158.09V156.66C1017.64 156.587 1016.93 156.55 1015.95 156.55C1014.97 156.55 1013.74 156.704 1012.27 157.012L1011.7 153.756C1013.49 153.199 1015.22 152.92 1016.89 152.92C1018.33 152.92 1019.37 153.008 1020.02 153.184C1020.66 153.36 1021.14 153.573 1021.45 153.822C1022.12 154.394 1022.46 155.259 1022.46 156.418C1022.46 157.885 1021.85 158.941 1020.63 159.586V159.696C1022.09 160.297 1022.81 161.39 1022.81 162.974C1022.81 163.751 1022.69 164.419 1022.44 164.976C1022.2 165.519 1021.9 165.944 1021.54 166.252C1021.17 166.545 1020.69 166.78 1020.08 166.956C1019.19 167.205 1017.93 167.33 1016.3 167.33C1014.69 167.33 1013.07 167.139 1011.44 166.758L1012.05 163.128C1013.45 163.465 1014.63 163.634 1015.6 163.634C1016.56 163.634 1017.39 163.59 1018.08 163.502V162.094L1014.3 161.72V158.53L1018.08 158.09Z"
        fill="black"
      />
    </svg>
  </div>
</section>

<style lang="scss">
  @use "../style/abstracts" as *;

  .seatplan {
    padding-top: 5em;
    padding-bottom: 5em;
    float: left;
    width: 100%;
    &__svg {
      margin-top: 2em;
      width: 100%;
      @include for-desktop-up {
        width: 80%;
      }

      position: relative;

      svg {
        width: 100%;
      }
    }

    &__claninfo {
      background: linear-gradient(45deg,#4a248c 50%,#af1aac 100%);
      font-weight: bold;
      color: #FFFFFF;
      width: 60%;
      padding: 10px;
      text-align: center;
      margin: 40px 0;

      .seatplan__claninfo--text{
        width: 100%;
        padding: 20px 80px;
        background: #FFFFFF;
        color: #000000;

        .text--small {
          font-size: .7rem;
          margin-top: 1rem;
        }
      }
    }
  }

  .seat {
    &__status {
      &--ready,
      &--reserved {
        fill: $yellow-dark;
      }
      &--free {
        fill: rgba(0, 0, 0, 0.1);
      }
    }

    &__popup {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $yellow-dark;
      font-size: 0.8rem;
      height: 24px;
      transform: translateX(-50%);

      img {
        height: 24px;
      }
      span {
        padding: 0 5px;
        background-color: $yellow-dark;
        position: relative;
        z-index: 1;
        strong {
          &::before {
            content: "[";
          }
          &::after {
            content: "]";
          }
        }
      }

      &::after {
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        transform: translateX(-50%) rotate(45deg);
        transform-origin: center center;
        position: absolute;
        top: -5px;
        left: 50%;
        background-color: $yellow-dark;
      }
    }
  }
</style>
